<h2 class="headings_pink_edit">It's Payday</h2>
<br />
<p>
Congrats! You just got $5! This can go towards swapping really cool gadgets such as iPhones, Macbooks, and more! <br/>
Your Swapidy account has been created too. Please check your email to get your password, then click <a href="javascript:showPopup('popup-dialog_for_signin');" style="color:#1D95CB">LOGIN</a>.</p>
