<br/>
<% if current_user.user_providers.count > 0 %>
    <span>Your account is disconnected to Facebook  </span>
	<a href="javascript:disconnect_facebook();" style="color: #0044CC;text-decoration: underline"> Disconnect </a>
<% else %>
    <% if session[:disconnect_facebook]%>
    <span>You have disconnected Facebook, you could set new password in here</span>
    <br/>
	<a href="<%= user_omniauth_authorize_path(:facebook)%>"><img id="fb_login_setting" src="/images/fb_login.png"></a><br/><br/>
	<%else%>
	<a href="<%= user_omniauth_authorize_path(:facebook)%>"><img id="fb_login_setting" src="/images/fb_login.png"></a><br/><br/>
	<%end%>
<% end %>
<script>
	function disconnect_facebook() {		
		var url_ajax = '/home/disconect_fb';
		var user_id = <%=current_user.id%>
		$.ajax({
			url : url_ajax,
			beforeSend : function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
          	},
			type: "POST",
			success :function(){
				 location.reload();
			}
		});
	}
</script>
<style>
	#fb_login_setting{
		position: absolute;
		
		height: 40px;
	}
</style>
