<div class="content">
  <div class="container">
    <div class="side-bar">
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" style="position: relative; ">
          <li class="tab">
            <a href="#user_setting" data-toggle="tab"><span class='nav_text'><img src="/images/icon_user_setting.png">&nbsp;User settings</span></a>
          </li>
          <li class="tab">
            <a href="#stripe_card" data-toggle="tab"><span class='nav_text'><img src="/images/icon_cc.png">&nbsp;Credit card information</span></a>
          </li>
        </ul>
      </div>
    </div> 
    <div class="core-side">
      <div class="core-side-content">
    
        <div class="tab-content">
          <div class="tab-pane active" id="user_setting">
            <br/>
            <%= render :partial => "/devise/registrations/user_setting"%>
          </div>
          <div class="tab-pane" id="stripe_card">
            <br/>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :id => "edit_profile" }) do |f| %>
	            <%= render :partial => "/devise/shared/stripe_card_form",:locals => {:submit_form => "edit_profile",:field_prefix => "user_", :f => f, :user => resource}%>
    		<% end %>
          </div>
        </div>
      </div>
      <%= render :partial => "/layouts/footer.html" %>
    </div>
  </div>
</div>
