<div style="width:580px; margin:auto;">
	<div style="background:#F2F2F2; margin-top:30px; padding:20px; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;">
		<div style="float:left;">
			<a href="http://swapidy.com"><img src="http://swapidy-test.herokuapp.com/images/swapidy_logo_email.png" style="height:70px;"></a>
		</div>
		<div style="float:right;">	
			<a href="http://facebook.com/swapidy"><img src="http://swapidy-test.herokuapp.com/images/footer_fb_hover.png" style="height:70px;"></a>
			<a href="http://twitter.com/swapidy"><img src="http://swapidy-test.herokuapp.com/images/footer_twitter_hover.png" style="height:63px; position:relative; bottom:5px;"></a>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

<div style="font-family:'Trebuchet MS', sans-serif; color:#666; font-size:14px; line-height:17px; ">
	Good Day <%= @user.name_in_email %>,<br/>
<br/>
You just bought <%= @order.product.title %> for <%= @order.honey_price %> Honey. 
We will be sending out your item(s) shortly.<br/>
<br/>
If you have any "Pending" trade-ins, please make sure to send those in right away 
so we can process your orders in the fastest time possible.<br/>
<br/>
If not, sit back and relax. A magical package will be arriving to a mailbox near you and don't worry, 
we'll send you tracking as soon as it ships, so you can refresh the screen non-stop to see when the box 
of happiness comes to you.<br/>
<br/>
If you have any questions, please email honey@swapidy.com. Make sure to mention your name and your email. 
We will answer your questions within 12-24 hours or less.<br/>
<br/>
Cheerio,<br/>
<br/>
	<a href="http://www.twitter.com/theswapdaddy" style="color:#666;"><strong>@TheSwapDaddy</strong></a><br/>
			<a href="http://www.twitter.com/swapidy" style="color:#666;"><strong>@Swapidy</strong></a><br/>
	</div>
	</div>
</div>