<div style="width:580px; margin:auto;">
	<div style="background:#F2F2F2; margin-top:30px; padding:20px; -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;">
		<div style="float:left;">
			<a href="https://www.swapidy.com" target="_blank"><img src="https://www.swapidy.com/images/email/swapidy_logo_email.png"></a>
		</div>
		<div style="float:right;">	
			<a href="http://facebook.com/swapidy" target="_blank"><img src="https://www.swapidy.com/images/email/fb_email.png"></a>
			<a href="http://twitter.com/swapidy" target="_blank"><img src="https://www.swapidy.com/images/email/twitter_email.png"></a>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

<div style="font-family:'Trebuchet MS', sans-serif; color:#666; font-size:14px; line-height:17px; ">Good Day <%= @user.name_in_email %>,<br/>
<br/>
Congrats! You're getting <%= number_with_delimiter(@order.calc_balance_amount) %>&nbsp; in exchange for some products.
We're eagerly waiting to receive your items!<br/>
<br/>
Your shipping label is attached to this email. 
Please send out your product(s) within 72 hours so we can fulfill your order. 
As soon as your product arrives, we will notify you and ship out any products you have ordered from us right away.<br/>
<br/>
<b>Instructions for shipping</b><br/>
<br/>
1) Package the item listed above along with any cables, parts, manuals, etc. into a secure box. Use packing material to avoid damage (newspapers work great!).<br/>
<br/>
2) Affix the attached prepaid label to the package.<br/>
<br/>
3) Put your package into your mailbox if it fits, otherwise drop it off at any collection box or post office. No need to pay, we took care of it.<br/>
<br/>
If you have any questions, please email support@swapidy.com. Make sure to mention your name and your email. We will answer your questions within 12 hours or less.<br/>
<br/>
Cheerio,<br/>
<br/>
	<a href="http://www.twitter.com/theswapdaddy" style="color:#666;"><strong>@TheSwapDaddy</strong></a><br/>
			<a href="http://www.twitter.com/swapidy" style="color:#666;"><strong>@Swapidy</strong></a><br/>
	</div>
	</div>
</div>
