Good Day <%= @user.name_in_email %>,<br/>
<br/>
You just bought <%= @order.product.title %> for <%= @order.honey_price %> Honey. 
We will be sending out your item(s) shortly.<br/>
<br/>
If you have any "Pending" trade-ins, please make sure to send those in right away 
so we can process your orders in the fastest time possible.<br/>
<br/>
If not, sit back and relax. A magical package will be arriving to a mailbox near you and don't worry, 
we'll send you tracking as soon as it ships, so you can refresh the screen non-stop to see when the box 
of happiness comes to you.<br/>
<br/>
If you have any questions, please email honey@swapidy.com. Make sure to mention your name and your email. 
We will answer your questions within 12-24 hours or less.<br/>
<br/>
Cheerio,<br/>
<br/>
<a href="http://www.twitter.com/theswapdaddy"><strong>@TheSwapDaddy</strong></a><br/>
<a href="http://www.twitter.com/swapidy">@Swapidy</strong></a><br/>

