<div style="width:580px; margin:auto;">
	<div style="background:#F2F2F2; margin-top:30px; padding:20px; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;">
		<div style="float:left;">
			<a href="http://swapidy.com"><img src="http://swapidy-test.herokuapp.com/images/swapidy_logo_email.png" style="height:70px;"></a>
		</div>
		<div style="float:right;">	
			<a href="http://facebook.com/swapidy"><img src="http://swapidy-test.herokuapp.com/images/footer_fb_hover.png" style="height:70px;"></a>
			<a href="http://twitter.com/swapidy"><img src="http://swapidy-test.herokuapp.com/images/footer_twitter_hover.png" style="height:63px; position:relative; bottom:5px;"></a>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

<div style="font-family:'Trebuchet MS', sans-serif; color:#666; font-size:14px; line-height:17px; ">Good Day <%= @user.name_in_email %>,<br/>
<br/>
Congrats! You're getting <%= @order.honey_price %>Honey in exchange for <%= @order.product.title %>. 
Our honey bees can't wait till your product arrives!<br/>
<br/>
Your shipping label is attached to this email. 
Please send out your product(s) within 24-48 hours so we can fulfill any product orders you place with your honey. 
As soon as your product arrives, we will notify you and ship out any products you have ordered from us right away.<br/>
<br/>
Instructions for shipping //boldis:<br/>
<br/>
1) Package the item listed above along with any cables, parts, manuals, etc. into a secure box. Use packing material to avoid damage (newspapers work great!).<br/>
<br/>
2) Affix the attached prepaid label to the package.<br/>
<br/>
3) Put your package into your mailbox if it fits, otherwise drop it off at any collection box or post office. No need to pay, we took care of it.<br/>
<br/>
If you have any questions, please email honey@swapidy.com. Make sure to mention your name and your email. We will answer your questions within 12-24 hours or less.<br/>
<br/>
Cheerio,<br/>
<br/>
	<a href="http://www.twitter.com/theswapdaddy" style="color:#666;"><strong>@TheSwapDaddy</strong></a><br/>
			<a href="http://www.twitter.com/swapidy" style="color:#666;"><strong>@Swapidy</strong></a><br/>
	</div>
	</div>
</div>