Good Day <%= @user.name_in_email %>,<br />
<br />
The honey bees over at Swapidy have determined that your <%= @order.product.title %> does not meet our standards.<br />
<br />
At Swapidy, we try to maintain our quality of honey to be the finest possible and in this case 
we can't accept the product in exchange for our precious honey.<br />
<br />
We will be sending the product back to you and you should receive it within 3-5 business days. 
We will also be subtracting the honey from your account and canceling any orders you placed using 
the honey from this product.<br />
<br />
Sorry for any inconveniences!<br />
<br />
If you have any questions, please email honey@swapidy.com. Make sure to mention your name and your email. 
We will answer your questions within 12-24 hours or less<br />
<br />
Cheerio,<br/>
<br/>
<a href="http://www.twitter.com/theswapdaddy"><strong>@TheSwapDaddy</strong></a><br/>
<a href="http://www.twitter.com/swapidy">@Swapidy</strong></a><br/>
