<div style="width:580px; margin:auto;">
	<div style="background:#F2F2F2; margin-top:30px; padding:20px; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;">
		<div style="float:left;">
			<a href="https://www.swapidy.com" target="_blank"><img src="https://www.swapidy.com/images/email/swapidy_logo_email.png"></a>
		</div>
		<div style="float:right;">	
			<a href="http://facebook.com/swapidy" target="_blank"><img src="https://www.swapidy.com/images/email/fb_email.png"></a>
			<a href="http://twitter.com/swapidy" target="_blank"><img src="https://www.swapidy.com/images/email/twitter_email.png"></a>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

<div style="font-family:'Trebuchet MS', sans-serif; color:#666; font-size:14px; line-height:17px; ">Good Day <%= @user.name_in_email %>,<br />
<br />
We have determined that your product(s) does not meet our standards for the swap that you made on Swapidy.<br />
<br />
At Swapidy, we try to maintain our quality of products to match the described conditions and in this case 
we can't accept the product in the condition received.<br />
<br />
We will be sending the product back to you and you should receive it within 3-5 business days. 
Any difference that was paid will be refunded back to your card within 3-5 business days as well.<br />
<br />
Sorry for any inconveniences!<br />
<br />
If you have any questions, please email support@swapidy.com. Make sure to mention your name and your email. 
We will answer your questions within 12-24 hours or less.<br />
<br />
Cheerio,<br/>
<br/>
	<a href="http://www.twitter.com/theswapdaddy" style="color:#666;"><strong>@TheSwapDaddy</strong></a><br/>
			<a href="http://www.twitter.com/swapidy" style="color:#666;"><strong>@Swapidy</strong></a><br/>
	</div>
	</div>
</div>
