Good Day <%= @user.name_in_email %>,<br />
<br />
Our systems have detected that you haven't shipped out your <%= @order.product.title %> for the <%= @order.honey_price %> we gave you. 
Our honey bees are getting really worked up about this. We like to make sure they're happy, otherwise they use their stingers and boy do they hurt!<br />
<br />
Please ship at your earliest convenience so that we can ship any products that you may have ordered.<br />
<br />
We have re-attached your shipping label to this email for you and look forward to receiving it.<br />
<br />
If you have any questions, please email honey@swapidy.com. Make sure to mention your name and your email. 
We will answer your questions within 12-24 hours or less.<br />
<br />
Cheerio,<br/>
<br/>
<a href="http://www.twitter.com/theswapdaddy"><strong>@TheSwapDaddy</strong></a><br/>
<a href="http://www.twitter.com/swapidy">@Swapidy</a><br/>

