Good Day <%= @user.name_in_email %>,<br />
<br />
You recently bought <%= @order.product.title %>. Our honey bees have shipped it out to you and they wrote 
down this really long tracking number so you can see when the Queen bee (also known as the mail man) will 
bring it to your humble abode.<br />
<br />
Here are the sacred digits: [Enter Tracking # Here]<br />
<br />
Enjoy your new gadgetry!
<br />
If you have any questions, please email honey@swapidy.com. Make sure to mention your name and your email. 
We will answer your questions within 12-24 hours or less.<br />
<br />
Cheerio,<br/>
<br/>
<a href="http://www.twitter.com/theswapdaddy"><strong>@TheSwapDaddy</strong></a><br/>
<a href="http://www.twitter.com/swapidy">@Swapidy</strong></a><br/>
