<div style="width:580px; margin:auto;">
	<div style="background:#F2F2F2; margin-top:30px; padding:20px; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;">
		<div style="float:left;">
			<a href="https://www.swapidy.com"><img src="https://www.swapidy.com/images/email/swapidy_logo_email.png"></a>
		</div>
		<div style="float:right;">	
			<a href="http://facebook.com/swapidy"><img src="https://www.swapidy.com/images/email/fb_email.png"></a>
			<a href="http://twitter.com/swapidy"><img src="https://www.swapidy.com/images/email/twitter_email.png"></a>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

		<div style="font-family:'Trebuchet MS', sans-serif; color:#666; font-size:14px; line-height:17px; ">
			<%= raw @content.gsub("<br>", "<br/>").gsub("<br/>\n", "<br/>").gsub("\n", "<br/>") %>
			<br/>
			<a href="http://www.twitter.com/theswapdaddy" style="color:#666666;"><b>@TheSwapDaddy</b></a><br/>
			<a href="http://www.twitter.com/swapidy" style="color:#666666;"><b>@Swapidy</b></a><br/>
		</div>
	</div>
</div>
