<div style="width:580px; margin:auto;">
	<div style="background:#F2F2F2; margin-top:30px; padding:20px; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;">
		<div style="float:left;">
			<a href="https://www.swapidy.com" target="_blank"><img src="https://www.swapidy.com/images/email/swapidy_logo_email.png"></a>
		</div>
		<div style="float:right;">	
			<a href="http://facebook.com/swapidy" target="_blank"><img src="https://www.swapidy.com/images/email/fb_email.png"></a>
			<a href="http://twitter.com/swapidy" target="_blank"><img src="https://www.swapidy.com/images/email/twitter_email.png"></a>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
<div style="font-family:'Trebuchet MS', sans-serif; color:#666; font-size:14px; line-height:17px; ">
<b>Good Day <%= @free_money.receiver.name_in_email if @free_money.receiver %>,</b><br/>
<br/>
You have received an inviation to join Swapidy.
<br/>
Please click here to create your account:
<a href="https://www.swapidy.com/free_moneys/confirm?token=<%= @free_money.token_key %>">
  https://www.swapidy.com/free_moneys/confirm?token=<%= @free_money.token_key %>
</a><br/>
<br/>
You will get $<%= number_with_delimiter(@free_money.receiver_amount) %> for joining... free of charge!<br/>
<br/> 
Cheerio,<br/>
<br/>
<a href="http://www.twitter.com/theswapdaddy" style="color:#666;"><strong>@TheSwapDaddy</strong></a><br/>
<a href="http://www.twitter.com/swapidy" style="color:#666;"><strong>@Swapidy</strong></a><br/>

	</div>
	</div>
</div>
