Good Day <%= @free_honey.receiver.name_in_email if @free_honey.receiver %>,<br/>
<br/>
You have received Free <%= @free_honey.receiver_honey_amount %> Honey after receiving inviation from <%= @free_honey.sender_title %>.<br/>
<br/> 
Cheerio,<br/>
<br/>
<a href="http://www.twitter.com/theswapdaddy"><strong>@TheSwapDaddy</strong></a><br/>
<a href="http://www.twitter.com/swapidy">@Swapidy</a><br/>
