Good Day <%= @free_honey.receiver.name_in_email if @free_honey.receiver %>,<br/>
<br/>
You have received an inviation to join Swapidy.
<br/>
Please click here to create your account:
<a href="http://www.swapidy.com/free_honeys/confirm?token=<%= @free_honey.token_key %>">
  http://www.swapidy.com/free_honeys/confirm?token=<%= @free_honey.token_key %>
</a><br/>
<br/>
You will get <%= @free_honey.receiver_honey_amount %> honey for joining... free of charge!<br/>
<br/> 
Cheerio,<br/>
<br/>
<a href="http://www.twitter.com/theswapdaddy"><strong>@TheSwapDaddy</strong></a><br/>
<a href="http://www.twitter.com/swapidy">@Swapidy</a><br/>
