Good Day <%= @user.name_in_email %>,<br/>
<br/>
Here's some FREE honey! <%= @redeem_code.honey_amount %><br/>
<br/> 
Cheerio,<br/>
<br/>
<a href="http://www.twitter.com/theswapdaddy"><strong>@TheSwapDaddy</strong></a><br/>
<a href="http://www.twitter.com/swapidy">@Swapidy</a><br/>
