Good Day <%= @user.name_in_email %>,<br/>
<br/>
Thank you for becoming part of the Swapidy instant buying and selling community. You're about to experience a service so magical, that you'll want to use it every moment of your life... even when you're sleeping o_0<br/>
<br/>
Here are your login details:<br/>
<br/>
<%= @user.email %> <br/>
<br/>
<%= @user.password %><br/>
<br/>
Get started by clicking <a href="http://www.swapidy.com/login">HERE</a>. We'll show you how everything works as soon as you login :D<br/>
<br/>
Cheerio,<br/>
<br/>
<a href="http://www.twitter.com/theswapdaddy"><strong>@TheSwapDaddy</strong></a><br/>
<a href="http://www.twitter.com/swapidy">@Swapidy</a><br/>
