Good Day <%= @user.name_in_email %>,<br/>
<br/>
Thank you for becoming part of the Swapidy instant buying and selling community.<br/>
<br/>
Here are your login details:<br/>
<br/>
<%= @user.email %> <br/>
<%= @user.password %><br/>
<br/>
Get started by clicking <a href="http://www.swapidy.com/login">HERE</a>. We'll show you how everything works as soon as you login :D<br/>
<br/>
Cheerio,<br/>
<br/>
The Swap Daddy<br/>
Swapidy Inc.