<div class="content">
  <div class="container">
    <div class="side-bar">
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" style="position: relative; margin-top: 40px;">
          <li class="active">
            <a href="#unread" data-toggle="tab"><img src="/images/icon_new_events.png" style="height:40px; width:40px; margin-right:40px;">New events</a>
          </li>
          <li class="">
            <a href="#all_notifications" data-toggle="tab"><img src="/images/icon_all_events.png" style="height:40px; width:40px; margin-right:40px;">All events</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="core-side">
      <div class="core-side-content">
        <div class="headings_pink">Your notifications</div>
        <br />  
        <div class="tab-content">
          <div class="tab-pane active" id="unread">
            <br/>
            <%= render :partial => "/notifications/list", :locals => {:for_item => :new} %>
          </div>
          <div class="tab-pane" id="all_notifications">
            <br/>
            <%= render :partial => "/notifications/list", :locals => {:for_item => :all} %>
          </div>
        </div>
      </div>
      <%= render :partial => "/layouts/footer.html" %>
    </div>
  </div>
</div>

<script language="JavaScript">
  $('.new_notification_row').live("mouseover", function(){
    var src = $(this);
    var id = $(this).attr("notification-data");
    
    $.ajax({
      type : 'PUT',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url : '/notifications/' + id + '/hide',
      dataType : 'script',
      success: function(data) { 
        $('#all_notifications #new_notification_' + id).removeClass("new_notification_row");
        $('#unread #new_notification_' + id).removeClass("new_notification_row"); 
      }
    });
    return false;
  });
</script>

