<div class="cart_product_thumb"  style="display: inline-table; width: 50px;" title="<%= order_product.title %>" >
  <img style="max-width: 100px;max-height: 100px;" src="<%= Product.find(order_product.product_id).main_image_url(:thumb) %>" />
</div>