<script type="text/javascript">
  $(document).ready(function() {

  }); 
</script>

<style type="text/css">


</style>

<div id="all">
  <div class="headings_pink" style="text-align:center;">How do I buy a device?</div>

  <div class="hiw_step hiw_1 s1" style="margin-left:150px;">
    <img class="hiw_img"src="/images/hiw_buy_1.png"><br/>
          <span style="position:relative; right:100px;"> Choose the product(s) you want to buy</span> 

  </div>
  <div class="hiw_step hiw_2 s2" style="margin-left:40px;">
    <img class="hiw_img"src="/images/hiw_buy_2.png"><br/>
            <span style="position:relative; right:100px;">Pay the dollar amount</span>
  </div>
  <div class="hiw_step hiw_3 s3" style="margin-left:40px; margin-top:70px;">
    <img class="hiw_img"src="/images/hiw_buy_3.png"><br/>
    <span style="position:relative; right:100px;">Receive your product(s) within 3-5 business days</span>

  </div>

  
</div>
