<script type="text/javascript">
  $(document).ready(function() {

  }); 
</script>

<style type="text/css">

  .hiw_img{
    width: 200px;
    height: auto;
  }
  .hiw_step{
    width: 200px;
  }

</style>

<div id="all" style="width:100%; min-width:1200px;">
  <div class="headings_pink" style="text-align:center; position:relative; right:100px;">How do I sell my products?</div>
<div style="margin-left:120px;">
  <div class="hiw_step hiw_1 s1" style="position:relative;">
    <img class="hiw_img"src="/images/hiw_sell_1.png"><br/>
        <span style="position:relative; right:100px;">   Choose the product(s) you want to sell</span>

  </div>
  <div class="hiw_step hiw_2 s2" style="position:relative; right:20px;">
    <img class="hiw_img"src="/images/hiw_sell_2.png"><br/>
           <span style="position:relative; right:100px;">Checkout and print prepaid shipping label</span>
  </div>
  <div class="hiw_step hiw_3 s3" style="position:relative; right:40px; top:30px;">
    <img class="hiw_img"src="/images/hiw_sell_3.png"><br/>
          <span style="position:relative; right:100px;">Package device and attach label to box </span>
  </div>
<div class="hiw_step hiw_3 s4" style="position:relative; right:10px; top:30px;">
    <img class="hiw_img"src="/images/hiw_sell_4.png"><br/>
           <span style="position:relative; right:100px;">Get paid upon arrival</span>
  </div>
</div>  
</div>
