<script type="text/javascript">
  $(document).ready(function() {
        $('.s1').hide();
        $('.s2').hide();
        $('.s3').hide();
        $('.s4').hide();

        $(".s1").delay(2000).fadeIn(1000);
        $(".s2").delay(3000).fadeIn(1000);
        $(".s3").delay(4000).fadeIn(1000);
        $(".s4").delay(5000).fadeIn(1000);
  }); 
</script>

<style type="text/css">

  .hiw_img{
    width: 200px;
    height: auto;
  }
  .hiw_step{
    width: 200px;
  }

</style>

<div id="all">
  <div class="headings_pink" style="text-align:center;">How do I sell my products?</div>

  <div class="hiw_step hiw_1 s1" style="position:relative;">
    <img class="hiw_img"src="/images/hiw_sell_1.png"><br/>
            Choose the product(s) you want to sell

  </div>
  <div class="hiw_step hiw_2 s2" style="position:relative; right:30px;">
    <img class="hiw_img"src="/images/hiw_sell_2.png"><br/>
           Checkout and print prepaid shipping label
  </div>
  <div class="hiw_step hiw_3 s3" style="position:relative; right:50px; top:30px;">
    <img class="hiw_img"src="/images/hiw_sell_3.png"><br/>
          Package device and attach label to box 
  </div>
<div class="hiw_step hiw_3 s4" style="position:relative; right:20px; top:30px;">
    <img class="hiw_img"src="/images/hiw_sell_4.png"><br/>
           Get paid upon arrival
  </div>
  
</div>
