<script type="text/javascript">
  $(document).ready(function() {
        $('.s1').hide();
        $('.s2').hide();
        $('.s3').hide();
        $(".s1").delay(1000).fadeIn(1000);
        $(".s2").delay(2000).fadeIn(1000);
        $(".s3").delay(3000).fadeIn(1000);
  }); 
</script>

<style type="text/css">


</style>

<div id="all">
  <div class="headings_pink" style="text-align:center;">How it Works</div>
<div style="">
  <div class="hiw_step hiw_1 s1" style="margin-left:20px;">
    <img class="hiw_img"src="/images/hiw_s_s1.png"><br/>
            Choose the product(s) you want to swap

  </div>
  <div class="hiw_step hiw_2 s2">
    <img class="hiw_img"src="/images/hiw_s_s2.png"><br/>
            Pay the difference, if any
  </div>
  <div class="hiw_step hiw_3 s3">
    <img class="hiw_img"src="/images/hiw_s_s3.png" style="margin-top:10px;"><br/>
           Ship your product and we'll send your newly swapped product
  </div>
</div>
  
</div>
