<script type="text/javascript">
  $(document).ready(function() {
  }); 
</script>

<style type="text/css">


</style>

<div id="all">
  <div class="headings_pink" style="text-align:center;">How do I swap my products?</div>

  <div class="hiw_step hiw_1 s1" style="margin-left:150px; ">
    <img class="hiw_img"src="/images/hiw_s_s1.png" ><br/>
            <span style="position:relative; right:100px;">Choose the product(s) you want to swap</span>

  </div>
  <div class="hiw_step hiw_2 s2" style="margin-left:40px; ">
    <img class="hiw_img"src="/images/hiw_s_s2.png" style="position:relative; right:100px;"><br/>
            <span style="position:relative; right:100px;">Pay the difference, if any</span>
  </div>
  <div class="hiw_step hiw_3 s3" style="margin-left:40px; margin-top:70px;">
    <img class="hiw_img"src="/images/hiw_s_s3.png" style="position:relative; right:100px;"><br/>
            <span style="position:relative; right:100px;">Ship your product and upon arrival we'll send your newly swapped product</span>
  </div>

  
</div>
