<script type="text/javascript">
  $(document).ready(function() {
        $('.s1').hide();
        $('.s2').hide();
        $('.s3').hide();
        $(".s1").delay(1000).fadeIn(1000);
        $(".s2").delay(2000).fadeIn(1000);
        $(".s3").delay(3000).fadeIn(1000);
  }); 
</script>

<style type="text/css">


</style>

<div id="all">
  <div class="headings_pink" style="text-align:center;">How do I swap your product?</div>

  <div class="hiw_step hiw_1 s1" style="margin-left:50px;">
    <img class="hiw_img"src="/images/hiw_s_s1.png"><br/>
            Choose the product(s) you want to swap

  </div>
  <div class="hiw_step hiw_2 s2" style="margin-left:40px;">
    <img class="hiw_img"src="/images/hiw_s_s2.png"><br/>
            Pay the difference, if any
  </div>
  <div class="hiw_step hiw_3 s3" style="margin-left:40px; margin-top:60px;">
    <img class="hiw_img"src="/images/hiw_s_s3.png"><br/>
           Get your newly swapped products within 72* hours without paying any fees
  </div>

  
</div>
