<div id="index_head" style="text-align:left; padding-top: 0px;">
	<div class="index_text">
		<div class="headings_pink" style="text-align:left; font-size:28px;">
			Swap your stuff within 72* hours. 
		</div>
		<div style="text-align:left; font-size:20px;">
			Get an offer on your product and exchange it with something you want.
		</div>
		<div class="index_bullets"><img style="height:30px; margin-bottom:10px;" src="/images/index_head/1.png">&nbsp;Get paid instantly.
			<br/>
			<img style="margin-bottom:5px;"class="index_img" src="/images/index_head/2.png">&nbsp;Faster than eBay.
			<br/>
			<img class="index_img" style="margin-bottom:5px;" src="/images/index_head/3.png">&nbsp;No transaction fees. No shipping costs.
		</div>

		<div class="index_success">
			<ul>
				<li>
					<img class="success_img" src="/images/testimonials/1.png" />
					<div class="content"></div>
				</li>
				<li>
					<img class="success_img" src="/images/testimonials/2.png" style="" />
					<div class="content"></div>
				</li>
				<li>
					<img class="success_img" src="/images/testimonials/3.png" style="" />
					<div class="content"></div>
				</li>
					<li>
					<img class="success_img" src="/images/testimonials/4.png" style="" />
					<div class="content"></div>
				</li>
					<li>
					<img class="success_img" src="/images/testimonials/5.png" style="" />
					<div class="content"></div>
				</li>

			</ul>
		</div>
	</div>
</div>

<script>

jQuery(document).ready(function($) {
            $(".index_success").jCarouselLite({
                btnNext: null,
                btnPrev: null,
                visible: 1,
                scroll: 1,
                vertical: true,
                circular: true,
                itemFallbackDimension: 150,
                start: 0,
                auto: 5000,
                speed: 1000
            });
});
</script>
