<!--<div id="index_head"  <% unless ShoppingCart.cart_products_empty? %> style="display:none;height: 130px;" <% end %> >
	<div class="index_text">
		<div class="headings_pink" style="text-align:left; font-size:28px;">
			Swap your stuff within 72* hours. 
		</div>
		<div style="text-align:left; font-size:20px;">
			Get an offer on your product and exchange it with something you want.
		</div>
		<div class="index_bullets"><img style="height:30px; margin-bottom:10px;" src="/images/index_head/1.png">&nbsp;Get paid instantly.
			<br/>
			<img style="margin-bottom:5px;"class="index_img" src="/images/index_head/2.png">&nbsp;Faster than eBay.
			<br/>
			<img class="index_img" style="margin-bottom:5px;" src="/images/index_head/3.png">&nbsp;No transaction fees. No shipping costs.
		</div>

		<div class="index_success" style="display: none;">
			<ul>
				<li>
					<img class="success_img" src="/images/testimonials/1.png" style="" />
					
				</li>
				<li>
					<img class="success_img" src="/images/testimonials/2.png" style="" />
					
				</li>
				<li>
					<img class="success_img" src="/images/testimonials/3.png" style="" />
					
				</li>
					<li>
					<img class="success_img" src="/images/testimonials/4.png" style="" />
					
				</li>
					<li>
					<img class="success_img" src="/images/testimonials/5.png" style="" />
					
				</li>

			</ul>
		</div>

	</div>
</div>


-->