<script type="text/javascript">
  $(document).ready(function() {
        $('.faqs dd').hide();
        $('.s1').hide();
        $('.s2').hide();
        $('.s3').hide();
        $('.s4').hide();
    // Hide all DDs inside .faqs
        $('.faqs dt').hover(function() {
        $('.faqs dd').hide();
      $(this).addClass('hover')
    }, function() {
      $(this).removeClass('hover')
    }).click(function() {// Add class "hover" on dt when hover
      $(this).next().slideToggle('normal');
      // Toggle dd when the respective dt is clicked
    });
   
    // Hide all DDs inside .faqs
    $('.faq_cat').hover(function() {
      $(this).addClass('hover')
    }, function() {
      $(this).removeClass('hover')
    }).click(function() {// Add class "hover" on dt when hover
      $(this).next().slideToggle('normal');
      // Toggle dd when the respective dt is clicked
    });


  }); 


</script>

<style type="text/css">
  body {
    background: whitesmoke;
  }
  dt:hover {
    cursor: pointer;
  }
  dt {
    color: #38B4DE;
    cursor: pointer;
    margin-bottom: 30px;
    clear: both;
  }
  dd {
    color: #666;
    clear:  both;
  }
  .faq_cat{
        color: #38B4DE;
        font-size: 20px;
        font-family: "myriad-s";  
        margin-bottom: 10px;
        cursor: pointer;
        text-decoration: underline;
  }

</style>

<div id="all">
  <div class="headings_pink" style="font-size:35px; margin-bottom:20px;">How it works</div>
  <dl class="faqs">
    <dt class="headings_pink" style="font-size:25px; text-decoration:underline;">How do I swap my products?</dt>
    <dd>
      <div class="hiw_step hiw_1 s1" style="margin-left:50px; ">
      <img class="hiw_img"src="/images/hiw_s_s1.png"><br/>
            Choose the product(s) you want to swap
      </div>
      <div class="hiw_step hiw_2 s2" style="margin-left:40px;">
      <img class="hiw_img"src="/images/hiw_s_s2.png"><br/>
            Pay the difference, if any
      </div>
      <div class="hiw_step hiw_3 s3" style="margin-left:40px; margin-top:60px;">
      <img class="hiw_img"src="/images/hiw_s_s3.png"><br/>
            Ship your product and upon arrival we'll send your newly swapped product
      </div>
    
    <dt class="headings_pink" style="font-size:25px; text-decoration:underline;">How do I sell my products?</dt>
    <dd>

        <div class="hiw_step hiw_1 s1" style="position:relative;">
        <img class="hiw_img"src="/images/hiw_sell_1.png"><br/>
            Choose the product(s) you want to sell

       </div>
       <div class="hiw_step hiw_2 s2" style="position:relative; right:30px;">
       <img class="hiw_img"src="/images/hiw_sell_2.png"><br/>
           Checkout and print prepaid shipping label
       </div>
       <div class="hiw_step hiw_3 s3" style="position:relative; right:50px; top:30px;">
       <img class="hiw_img"src="/images/hiw_sell_3.png"><br/>
          Package device and attach label to box 
       </div>
       <div class="hiw_step hiw_3 s4" style="position:relative; right:20px; top:30px;">
       <img class="hiw_img"src="/images/hiw_sell_4.png"><br/>
           Get paid upon arrival
       </div>
    </dd>

    <dt class="headings_pink" style="font-size:25px; text-decoration:underline;">How do I buy my products?</dt>
    <dd>

  <div class="hiw_step hiw_1 s1" style="margin-left:50px;">
    <img class="hiw_img"src="/images/hiw_buy_1.png"><br/>
            Choose the product(s) you want to buy

  </div>
  <div class="hiw_step hiw_2 s2" style="margin-left:40px;">
    <img class="hiw_img"src="/images/hiw_buy_2.png"><br/>
            Pay the dollar amount
  </div>
  <div class="hiw_step hiw_3 s3" style="margin-left:40px; margin-top:60px;">
    <img class="hiw_img"src="/images/hiw_buy_3.png"><br/>
    Receive your product(s) within 3-5 business days

  </div>
</dd>
  </dl>
  
</div>
