<div id="product_items">
  <% if cart_products_empty? %>
    <div>Empty Shopping Cart</div>  
  <% else %>
    <div style="position: relative">
    	<% if cart_products[:sell].count. > 5 %>
        <a class="dropdown-toggle see_more_sell dropdow_item" data-toggle="dropdown" href="#">
 		 </a>
      	<%end%>
      <% if cart_products[:buy].count > 5 %>
	    <a class="dropdown-toggle see_more_buy dropdow_item" data-toggle="dropdown" href="#">
		 </a>
      <%end%>
      <div class="sell_display" style="background: url(/images/white_bg.png) ;position:absolute; left:0px; width: 500px;height: 100px; overflow: hidden" >
        <% cart_products[:sell].each do |order_product|%>
          <%= render :partial => "/home/cart_product_thumb", :locals => {:order_product => order_product} %>
        <% end %>
      </div>
      <div style="position:absolute; left:50%; margin-left:-100px; width: 200px; text-align: center; top: 30px; font-size: 35px;">
        $<%= format_num(cart_amount) %>
      </div>
      <div class="buy_display" style="background: url(/images/white_bg.png) ;position:absolute; right:0px; width: 500px; text-align: right;height: 100px; overflow:hidden" >
        <% cart_products[:buy].each do |order_product| %>
          <%= render :partial => "/home/cart_product_thumb", :locals => {:order_product => order_product}%>
        <% end %>
      </div>
    </div>
    <a href="/orders/new" style="height: 20px; top: 60px; position: absolute; left: 50%; margin-left: -83px;" class="btn show_button_buy">Checkout</a>
  <% end %>
</div>
<style>
	.see_more_sell{
		position: absolute;
		top: 50px;
		left: 500px;
	}
	.see_more_buy{
		position:absolute;
		top: 50px;
		right: 500px;
	}
	.dropdow_item{
		position:absolute;
		display: inline-block;
		width: 0;
		height: 0;
		vertical-align: top;
		border-top: 10px solid black;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		margin-top:40px;
		-moz-transform:rotate(0deg);
  		-webkit-transform:rotate(0deg);
	}
	
	.hide_item{
	display: block;
	top: 10px;
	right:-7px;
	width: 10px;
	height: 10px;
	vertical-align: top;
	border-top: 10px solid black;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	margin-top:40px;
 	-moz-transform:rotate(-45deg);
  	-webkit-transform:rotate(180deg);
}

</style>

