<doctype html>
<html>
<head>
<meta charset = "utf-8">
<script type="text/javascript">  	
$(document).ready(function(){
	  	
$('#about_container').fadeIn(1000);
  	
$('#about_content').fadeIn(1000);
	  	
});
  	
</script> 
<style type="text/css">
html{
	height: 100%;
}
body{
background:whitesmoke;
height: 100%;
}
</style>
<title>About Us</title>

</head>
<body>
	<div id="about_container" class="container" style="display:none; position:relative; bottom:250px;">		
		<img id="about_circle" src="about_circle.png" style="display:none;">
		<div class="headings_pink" id="about_heading">About Us</div><br/>
		<div id="about_content" class="sub_content" style="content display:none;">
			<p>Swapidy is the instant way to swap your products.</p> 

			<p>At Swapidy, we hate waiting and we realized that people hate waiting too. So, we developed a system where people can swap what they have for what they want without any hassle. Humans are adapting to new technology every single day. However, there is no easy way for people to easily get new things without spending a good deal of time and money. But now there is.</p> 

			<img class="about_img" src="/images/about_1.png"><span class="about_img_desc">No transaction fees</span><br/> 
			<img class="about_img" src="/images/about_2.png"><span class="about_img_desc">Free shipping</span><br/>
			<img class="about_img" src="/images/about_3.png"><span class="about_img_desc">Instant Gratification</span><br/>
		</div>
	</div>
</body>
</html>

