<doctype html>
<html>
<head>
<meta charset = "utf-8">
<script type="text/javascript">  	
$(document).ready(function(){

$('#about_container').fadeIn(1000);
  	
$('#about_content').fadeIn(1000);

});
  	
</script> 
<style type="text/css">
html{
	height: 100%;
}
body{
background:whitesmoke;
height: 100%;
}
</style>
<title>About Us</title>

</head>
<body>
	<div id="about_container" class="container" style="display:none; ">		
		<img id="about_circle" src="about_circle.png" style="display:none;">
		<div class="headings_pink" id="about_heading">About Us</div><br/>
		<div id="about_content" class="sub_content" style="content display:none;">
			<p>Swapidy is the place to sell, swap, and buy electronics instantly. </p> 
			<p>At Swapidy, we dislike the current solutions people use to buy and sell things because they have a lot of fees, shipping costs, and long waiting times. So, we developed a platform where people can sell, swap, and buy all in one place without having to spend a dime in transaction fees, shipping costs, or waiting several days to get what they want.<br/>
 
			<img class="about_img" src="/images/about_1.png"><span class="about_img_desc">No transaction fees</span><br/> 
			<img class="about_img" src="/images/about_2.png"><span class="about_img_desc">Free shipping</span><br/>
			<img class="about_img" src="/images/about_3.png"><span class="about_img_desc">Instant Gratification</span><br/>
		</div>
	</div>
</body>
</html>


