<style type="text/css">
body{
	background: whitesmoke;
}
</style>

<div class="container">
<div class='headings_pink'>Contact Us</div>
<form>
Email: <input type="text" name="email"><br/>
Subject: <input type="text" name="subject"><br/>
Message: <br/><input type="text" name="message" style="    height:200px;
"><br/>
</form>
</div>