<doctype html>
<html>
<head>
<meta charset = "utf-8">
<title>General FAQ</title>
<script src="jquery-1.8.3.min.js" jqtype="text/javascript"></script>
<script type="text/javascript" src="scripts/utility.js"></script>
      
<style type="text/css">
		  html{font-size:62.5%}
		  body{font-size:1.2em;color:#294f88}
		  .sample{margin:30px;border:1px solid #92cdec;background:#d7e7ff;padding:30px 30px 0 30px}
		  h1{margin:0;padding:0;font-size:2em;}
		  p,dl{font-size:1.2em;line-height:170%;margin-bottom:20px}
		  dl,dt,dd{padding:0;margin:0}
		.faqs{padding-top:20px}
		.faqs dt{font-weight:bold;background:url(images/q.gif) 0 4px no-repeat;padding:3px 0 15px 30px;position:relative;}
		.faqs dt:hover{cursor:pointer}
		.faqs dd{background:url(images/a.gif) 0 2px no-repeat;padding:0 0 5px 30px;position:relative;color:#333}
		.faqs .hover{color:#990000;text-decoration:underline}
</style>
      
</head>
<body>

    <div class="sample">
        <h1>General FAQ</h1>
<dl class="faqs">
        <dt>Q: Can I use Swapidy anywhere?</dt>
        <dd>A: Our service can only be used in the San Francisco Bay Area for now. Sign up for an account to be notified when it will be in your area!</dd>
        <dt>Q: How much is 1 Honey worth?</dt>
        <dd>A: 1 Honey is equal to ten cents (.10) </dd>
        <dt>Q: What if I don't have any Honey and I just want to buy something?</dt>
        <dd>A: You can buy Honey from us here [insert link here]. $1 gets you 10 Honey.</dd>
  		
    	<dt>Q: When do I get my Honey?</dt>
        <dd>A: As soon as you choose the product you want to sell and checkout, you get your Honey. It will show up in the upper right hand corner when you're logged in and you will get email confirmation. If you're simply buying Honey, you will get it as soon as you buy it.</dd>
        <dt>Q: What happens if I don't send Swapidy my product?</dt>
        <dd>A: Swapidy will charge your credit card for the Honey value that you received.</dd>
        <dt>Q: What's the best way to get a hold of customer service?</dt>
        <dd>A: Email us using this email form: [insert link here] - We are happy to help you and will respond within 24-48 hours.</dd>
        <dt>Q: Can I get a refund if I purchased Honey?</dt>
        <dd>A: No. All Honey purchases are final.</dd>
          </dl>   
    </div>
    
</body>
</html>