<style type="text/css">
  body {
    background: whitesmoke;
  }
  dt:hover {
    cursor: pointer;
  }
  dt {
    color: #38B4DE;
    cursor: pointer;
  }
  dd {
    color: #666;
  }
  .faq_cat{
        color: #38B4DE;
        font-size: 20px;
        font-family: "myriad-s";
        margin-bottom: 10px;
        cursor: pointer;
        text-decoration: underline;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {

    $('.container').fadeIn(1000);
    // ---- FAQs ---------------------------------------------------------------------------------------------------------------

    $('.faqs dd').hide();
    // Hide all DDs inside .faqs
    $('.faqs dt').hover(function() {
      $(this).addClass('hover')
    }, function() {
      $(this).removeClass('hover')
    }).click(function() {// Add class "hover" on dt when hover
      $(this).next().slideToggle('normal');
      // Toggle dd when the respective dt is clicked
    });
    $('.faqs').hide();
    // Hide all DDs inside .faqs
    $('.faq_cat').hover(function() {
      $(this).addClass('hover')
    }, function() {
      $(this).removeClass('hover')
    }).click(function() {// Add class "hover" on dt when hover
      $(this).next().slideToggle('normal');
      // Toggle dd when the respective dt is clicked
    });

  }); 
</script>
<div class="container" style="display:none; position:relative; bottom:230px;">
  <div class="headings_pink">FAQ</div>
  <br/>
  <div class="faq_cat">
    - General FAQ<br/>
  </div>
  <dl class="faqs">
    <dt>
      Can I use Swapidy anywhere?
    </dt>
    <dd>
      Our service can only be used in the San Francisco Bay Area for now. Sign up for an account to be notified when it will be in your area!
    </dd>
    <dt>
      What if I don't have anything to trade and I just want to buy something?
    </dt>
    <dd>
      At this point in time, you must swap a product to get a product in return. If you have any remaining balance after selling, you may use that balance towards buying what you want.
    </dd>
    <dt>
      Should I delete data on my device before shipping?
    </dt>
    <dd>
      Yes. We recommend that you delete everything on your device before sending. Once we receive it, we perform another reset just in case.
    </dd>
    <dt>
      When do I get my swapped product? 
    </dt>
    <dd>
      This really depends on you. If you send us your product the same day you swapped, you can get your new product in less than 72 hours. If not, it may take a little more time. To avoid delay, please ship your product ASAP.
    </dd>
    <dt>
      What happens if I don't send Swapidy my product?
    </dt>
    <dd>
      Swapidy will cancel any swaps you placed and refund any dollar amount you paid as a difference, if any.
    </dd>
    <dt>
      What's the best way to get a hold of customer service?
    </dt>
    <dd>
      Email us at support@swapidy.com - We are happy to help you and will respond within 12-24 hours or less.
    </dd>
    <dt>
     
    </dd>
    <dt>
      What do I do once I'm done placing my swap order? 
    </dt>
    <dd>
      Check your email for the prepaid shipping label and mail out your product ASAP to avoid delay. 
    </dd>
    <dt>
      What if my product is not worth enough to buy what I want?
    </dt>
    <dd>
      Simply pay the difference during checkout. For example, if you want an iPhone 4 that's $400 and your product is worth $350, just pay $50 during checkout and you're good to go!
    </dd>
    <dt>
      Once I order a product, how long will it take to get to me?
    </dt>
    <dd>
      Anywhere from 3-7 business days depending upon your location and how fast you ship your product.
    </dd>

    <dt>
      Do I ever have to pay any shipping costs or transaction fees?
    </dt>
    <dd>
      Nope. There are no shipping fees or transaction fees on Swapidy. Awesome right?!
    </dd>

    </dd>
    <dt>
      I lost/deleted the email with my USPS prepaid label in it. What do I do?
    </dt>
    <dd>
      Email us at support@swapidy.com to receive another label.
    </dd>
    <dt>
      Where do I drop off my package once I put my prepaid label on the box?
    </dt>
    <dd>
      Simply drop it off in your mailbox, drop off centers, or your nearest post office which can be found here: https://tools.usps.com/go/POLocatorAction!input.action
    </dd>

    <dt>
      Can I receive my product back once I've shipped it out?
    </dt>
    <dd>
      No, all trade-ins are final.
    </dd>
    <dt>
      What if the product I sent was faulty and/or didn't match Swapidy's description of poor, good, or flawless?
    </dt>
    <dd>
      Swapidy will send your product back and charge you a $25 penalty fee to cover the shipping costs.
    </dd>

  </dl>
</div>
 
