<doctype html>
<html>
<head>
<meta charset = "utf-8">
<title>General FAQ</title>
<script src="jquery-1.8.3.min.js" jqtype="text/javascript"></script>
<script type="text/javascript" src="scripts/utility.js"></script>
      
<style type="text/css">
		  html{font-size:62.5%}
		  body{font-size:1.2em;color:#294f88}
		  .sample{margin:30px;border:1px solid #92cdec;background:#d7e7ff;padding:30px 30px 0 30px}
		  h1{margin:0;padding:0;font-size:2em;}
		  p,dl{font-size:1.2em;line-height:170%;margin-bottom:20px}
		  dl,dt,dd{padding:0;margin:0}
		.faqs{padding-top:20px}
		.faqs dt{font-weight:bold;background:url(images/q.gif) 0 4px no-repeat;padding:3px 0 15px 30px;position:relative;}
		.faqs dt:hover{cursor:pointer}
		.faqs dd{background:url(images/a.gif) 0 2px no-repeat;padding:0 0 5px 30px;position:relative;color:#333}
		.faqs .hover{color:#990000;text-decoration:underline}
</style>
      
</head>
<body>

    <div class="sample">
        <h1>Buying FAQ</h1>
<dl class="faqs">
        <dt>What do I do once I get my Honey? </dt>
        <dd>With your Honey, you can buy products within our marketplace and we'll ship them out for free.
</dd>
        <dt>What if I don't have enough Honey to buy what I want?</dt>
        <dd>Simply buy the difference of Honey you need here: [insert link here] For example, if you want an iPhone 4 that's 4,000 Honey and you only have 3,500, just buy $50 worth of Honey and you're good to go!</dd>
        <dt>Once I order a product, how long will it take to get to me? </dt>
        <dd>Anywhere from 3-7 business days depending upon your location.</dd>
  		
    	<dt>Do I ever have to pay shipping costs?</dt>
        <dd>Nope, shipping is always free.</dd>
        
        </dl>   
    </div>
    
</body>
</html>