<doctype html>
<html>
<head>
	<meta charset = "utf-8">
<title>How it Works</title>
<script type="text/javascript">
$(document).ready(function () {
	
	   
		$('#all').fadeIn(1000);
		$('.hiw_a').hide(); // Hide all DDs inside .faqs
		$('.hiw_heading').hover(function(){$(this).addClass('hover')},function(){$(this).removeClass('hover')}).click(function(){ 
				$(this).next().slideToggle('normal');
		// Toggle dd when the respective dt is clicked
		}); 
	

});
</script>

<style type="text/css">
		.hiw_heading:hover{cursor:pointer}
</style>
</head>
<body>
<div id="all" style="display:none;">
<h2 class="headings_pink">How it works</h2>
<div class="hiw_heading" onclick="scrollOnClick(150); return false;">I want to sell my product.</div>
<div class="hiw_a">
<img class="hiw_img"src="/images/hiw_buy.png">

<div class="hiw_steps">
<div class="hiw_step hiw_1">Choose the product you have to sell</div>

<div class="hiw_step hiw_2">Instantly get honey for your product</div>

<div class="hiw_step hiw_3">Send product(s) to Swapidy</div>
</div>
</div>

<div class="hiw_heading">I want to buy a product.</div>
<div class="hiw_a">

<img class="hiw_img" src="/images/hiw_sell.png">

<div class="hiw_steps">

<div class="hiw_step hiw_1">Choose product(s) you want to buy</div>

<div class="hiw_step hiw_2">Buy additional honey if required</div>

<div class="hiw_step hiw_3">Checkout, you're done!</div>
</div>
</div>
</div>
</body>
</html>