<html>
<head></head>
<body>

 <div id="product_type" class="container">
  <h2 style="margin-left:20px;">Select your category</h2>
  <img id="c_ipod" class="cat_item span4 " alt="ipod" src="images/cat_ipod.png">
  <img id="c_iphone" class="cat_item span4 " alt="iphone" src="images/cat_iphone.png">
  <img id="c_macbook" class="cat_item span4 " alt="macbook" src="images/cat_macbook.png">
 </div>
 <div id="product_search_container" class="container">
    <div id="search_container">
    <form>
      <h3 class="s_category">Model</h3>
      <input type="checkbox">lorem</input>
      <input type="checkbox">ipsum</input>
      <h3 class="s_category">Memory Space </h3>
       <input type="checkbox">dolor</input>
      <input type="checkbox">sit</input>
    </form>
    </div>
     <div id="product lineup">
      <div id="container" class="isotope thumbnail" style="position: relative; overflow: hidden; min-height: 200px; width:500px;">
      <ul>
          <li class="item thumbnail"><img src="images/products/ipods/touch_3.png"></li>
          <li class="item thumbnail"><img src="images/products/ipods/touch_4.png"></li>
          <li class="item thumbnail"><img src="images/products/ipods/touch_4.png"></li>
          <li class="item thumbnail"><img src="images/products/ipods/touch_5.png"></li>
          
          <li class="item thumbnail"><img src="images/products/ipods/nano_5.png"></li>
          <li class="item thumbnail"><img src="images/products/ipods/nano_6.png"></li>
          <li class="item thumbnail"><img src="images/products/ipods/nano_7.png"></li>
          <li class="item thumbnail"><img src="images/products/ipods/classic_5.png"></li> 
          <li class="item thumbnail"><img src="images/products/ipods/classic_6.png"></li> 
          <li class="item thumbnail"><img src="images/products/ipods/shuffle_4.png"></li> 
      </ul>
       
      </div>
    </div>
      
  

 </div>

</body>