<html>
<head></head>
<body>
<div id="main_catalog_container">
	<img class="item" id="macbook" src="images/macbook.png" alt="macbook">
	<img class="item" id="iphone" src="images/iphone.png" alt="iphone"> 
	<img class="item" id="imac" src="images/imac.png" alt="imac"><br/>
</div>

</body>