<div class="hero-unit">
  <div style="hero-unit-content">
    <h1 class="hero_title">Buy and sell instantly.</h1>
    <br/>
    <p class="hero_info">
      We buy products for honey. You buy anything using honey.
    </p>
    <p class="hero_info">
      It's never been easy to buy and sell.
    </p>
    
  </div>
  <div id="buttons">
  <button id="button_sell" class="btn-success btn-large">
      <strong>Sell Now</strong>
    </button>
    <button id="button_buy" class="btn-primary btn-large">
      <strong>Buy Now</strong>
    </button>
  </div>
</div>
<div id="product_type" class="container" style="display:none;">
  <h2 style="margin-left:20px;">Select your category</h2>
  <div class="category"><img id="c_ipod" class="cat_item span4 " alt="ipod" src="images/cat_ipod.png"></div>
  <div class="category"><img id="c_iphone" class="cat_item span4 " alt="iphone" src="images/cat_iphone.png"></div>
  <div class="category"><img id="c_macbook" class="cat_item span4 " alt="macbook" src="images/cat_macbook.png"></div>
</div>

<div id="product_search_container" class="container" style="display:none;">
  <div id="search_container">
    <form>
      <h3 class="s_category">Model</h3>
      <input type="checkbox" product-option='lorem'>lorem</input>
      <input type="checkbox" product-option='ipsum'>ipsum</input>
      <h3 class="s_category">Memory Space </h3>
      <input type="checkbox" product-option='dolor'>dolor</input>
      <input type="checkbox" product-option='sit'>sit</input>
    </form>
  </div>
  <div id="product" style="display:none;">
    <div id="container" class="isotope thumbnail" style="position: relative; overflow: hidden; min-height: 200px; width:500px;">
        <div class="item lorem ipsum thumbnail"><img src="/images/products/ipods/touch_3.png"></div>
        <div class="item lorem sit thumbnail"><img src="/images/products/ipods/touch_4.png"></div>
        <div class="item ipsum dolor sit thumbnail"><img src="/images/products/ipods/touch_4.png"></div>
        <div class="item ipsum dolor thumbnail"><img src="/images/products/ipods/touch_5.png"></div>
        <div class="item lorem dolor thumbnail"><img src="/images/products/ipods/nano_5.png"></div>
        <div class="item ipsum lorem thumbnail"><img src="/images/products/ipods/nano_6.png"></div>
        <div class="item thumbnail"><img src="/images/products/ipods/nano_7.png"></div>
        <div class="item dolor sit thumbnail"><img src="/images/products/ipods/classic_5.png"></div>
        <div class="item ipsum thumbnail"><img src="/images/products/ipods/classic_6.png"></div>
        <div class="item ipsum dolor sit thumbnail"><img src="/images/products/ipods/shuffle_4.png"></div>
    </div>
  </div>
</div>

<script language="JavaScript">
  
  $('.hero-unit button.btn-large').click(function() {
     //optionally remove the 500 (which is time in milliseconds) of the
     //scrolling animation to remove the animation and make it instant
     $('div#product_type').show();
     $.scrollTo($('div#product_type'), 500);
  });
  
  $('#product_type .cat_item').live('click', function() {
     //optionally remove the 500 (which is time in milliseconds) of the
     //scrolling animation to remove the animation and make it instant
     $('div#product_search_container').show();
     $.scrollTo($('div#product_search_container'), 500);
     centerIsotypeImages();
  });

  $('#product_search_container input').live('change', function() {
     //optionally remove the 500 (which is time in milliseconds) of the
     //scrolling animation to remove the animation and make it instant
     $('#product_search_container #product').show();
     $.scrollTo($('#product_search_container #product'), 500);
     
     var $this = $(this);
     $('#product #container').isotope({ filter: '.' + $this.attr("product-option") });
  });
   
   
   var $container = $('#product_type'),
   $articles = $container.children('.category'), timeout;
   
   $articles.on( 'mouseenter', function( event ) {
      var $article = $(this);
      clearTimeout( timeout );
      timeout = setTimeout( function() {
          if( $article.hasClass('active') ) return false;
          $articles.not($article).removeClass('active').addClass('blur');
          $article.removeClass('blur').addClass('active');
      }, 75 );
  });
  
  $articles.on( 'mouseleave', function( event ) {
      var $article = $(this);
      $article.removeClass('active blur');
  });
   
  $container.on( 'mouseleave', function( event ) {
      clearTimeout( timeout );
      $articles.removeClass('active blur');
  });

  jQuery(window).load(function(){
    $('#product #container').isotope({ filter: '.none' });
    centerIsotypeImages();
  });
  
  function centerIsotypeImages(){
    jQuery('#product #container .item').each(function(){
      var $this = jQuery(this);
      if($this.find('img').get(0) === undefined){ return; }
      var cont_ratio = $this.width() / $this.height();
      var img_ratio = $this.find('img').get(0).width / $this.find('img').get(0).height;

      if(cont_ratio <= img_ratio){
        $this.find('img').css({ 'width' : 'auto', 'height' : '100%', 'top' : 0 }).css({ 'left' : ~(($this.find('img').width()-$this.width())/2)+1 });
        $this.find('img').stop(true, true).fadeIn(200);
      }else{
        $this.find('img').css({ 'width' : '100%', 'height' : 'auto', 'left' : 0 }).css({ 'top' : ~(($this.find('img').height()-$this.height())/2)+1 });
        $this.find('img').stop(true, true).fadeIn(200);
      }
    });
  }

</script>