<html>
<head></head>
<body>
    <ul class="thumbnails">
    <li class="span4">
    <div class="thumbnail">
    <img class="item" id="ipod" src="images/ipod.png" alt="ipod">
    <h3>iPod</h3>
    </div>
    </li>
    <li class="span4">
    <div class="thumbnail">
	<img class="item" id="iphone" src="images/iphone.png" alt="iphone"> 
    <h3>iPhone</h3>
    </div>
    </li>
    <li class="span3">
    <div class="thumbnail">
	<img class="item" id="ipad" src="images/ipad.png" alt="ipad"><br/>
    <h3>iPad</h3>
    </div>
    </li>
    </ul>
    

</body>