<div class="hero-unit">
  <div style="hero-unit-content">
    <h1 class="hero_title">Buy and sell instantly.</h1>
    <br/>
    <p class="hero_info">
      We buy products for honey. You buy anything using honey.
    </p>
    <p class="hero_info">
      It's never been easy to buy and sell.
    </p>
    <button class="btn-success btn-large" onclick="javascript:alert('Sell now');">
      <strong>Sell Now</strong>
    </button>
    <button class="btn-primary btn-large" onclick="javascript:alert('Buy now');">
      <strong>Buy Now</strong>
    </button>
  </div>
</div>

<div id="s3slider">
  <ul id="s3sliderContent">
    <li class="s3sliderImage">
      <img src="/images/sliders/slide-1.jpg">
      <span>Slide image 01 </span>
    </li>
    <li class="s3sliderImage">
      <img src="/images/sliders/slide-2.jpg">
      <span>Slide image 02 </span>
    </li>
    <li class="s3sliderImage">
      <img src="/images/sliders/slide-3.jpg">
      <span>Slide image 03 </span>
    </li>
    <li class="s3sliderImage">
      <img src="/images/sliders/slide-4.jpg">
      <span>Slide image 04 </span>
    </li>
    <li class="s3sliderImage">
      <img src="/images/sliders/slide-5.jpg">
      <span>Slide image 05 </span>
    </li>
    <div class="clear s3sliderImage"></div>
  </ul>
</div>
<script language="JavaScript">
   $(document).ready(function() { 
     $('#s3slider').s3Slider({
       timeOut: 4000
     });
   });
</script>


<div class="content">
  <div class="container">
    <div id="product_type" class="container">
      <h2 style="margin-left:20px;">Select your category</h2>
      <img id="c_ipod" class="cat_item span4 " alt="ipod" src="images/cat_ipod.png">
      <img id="c_iphone" class="cat_item span4 " alt="iphone" src="images/cat_iphone.png">
      <img id="c_macbook" class="cat_item span4 " alt="macbook" src="images/cat_macbook.png">
    </div>
    <div id="product_search_container" class="container">
      <div id="search_container">
        <form>
          <h3 class="s_category">Model</h3>
          <input type="checkbox">lorem</input>
          <input type="checkbox">ipsum</input>
          <h3 class="s_category">Memory Space </h3>
          <input type="checkbox">dolor</input>
          <input type="checkbox">sit</input>
        </form>
      </div>
      <div id="product lineup">
        <div id="container" class="isotope thumbnail" style="position: relative; overflow: hidden; min-height: 200px; width:500px;">
          <ul>
            <li class="item thumbnail"><img src="images/products/ipods/touch_3.png"></li>
            <li class="item thumbnail"><img src="images/products/ipods/touch_4.png"></li>
            <li class="item thumbnail"><img src="images/products/ipods/touch_4.png"></li>
            <li class="item thumbnail"><img src="images/products/ipods/touch_5.png"></li>
            <li class="item thumbnail"><img src="images/products/ipods/nano_5.png"></li>
            <li class="item thumbnail"><img src="images/products/ipods/nano_6.png"></li>
            <li class="item thumbnail"><img src="images/products/ipods/nano_7.png"></li>
            <li class="item thumbnail"><img src="images/products/ipods/classic_5.png"></li>
            <li class="item thumbnail"><img src="images/products/ipods/classic_6.png"></li>
            <li class="item thumbnail"><img src="images/products/ipods/shuffle_4.png"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>