<doctype html>
<html>
<head>
<meta charset = "utf-8">
<title>About Us</title>
	<script type="text/javascript" src="jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
	$('#jobs_container').fadeIn(1000);
	$('#jobs_content').fadeIn(1000);
});
	</script> 
	<style type="text/css">
	.team_subheading{
	color: #F538AF;
 	font-family: "Lato",Calibri,Arial,sans-serif;
  	font-weight: bold;
}
.team_content{
 
	width:400px;
	color: black;
    text-shadow: none;
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
    font-family: "Lato",Calibri,Arial,sans-serif;
    font-weight: 300;
}

	</style>
</head>

</head>
<body>
	<div id="jobs_container" style="display:none;">		
		<h2 class="headings_pink" id="jobs_heading">Interested in working for Swapidy?
</h2>
		<div id="jobs_content" class="sub_content" style="content display:none;">
			<p>Drop us an email with some cool stuff you've done at info@swapidy.com and we'll have <a href="/team#peanut">Peanut</a> take a look at it.</p> 
		</div>
	</div>
</body>
</html>