<style type="text/css">
.index_button{
  width: 100px;
}
</style>
<div class="headings_pink" style="font-size:35px; margin-top:40px; margin-bottom:40px;">How it works</div>
<div class="hiw_category">
  <img src="/images/get_cash.png" style="width:200px; height:auto; margin-right:80px;">
    <img src="/images/swap.png" style="width:200px; height:auto; margin-right:80px;">
  <img src="/images/buy.png" style="width:200px; height:auto;">

</div>
  <dl class="faqs">
    <dt class="headings_pink" style="font-size:25px; text-decoration:underline;">How do I swap my products?</dt>
    <dd>
      <div class="hiw_step hiw_1 s1" style="margin-left:50px; ">
      <img class="hiw_img"src="/images/hiw_s_s1.png"><br/>
            Choose the product(s) you want to swap
      </div>
      <div class="hiw_step hiw_2 s2" style="margin-left:40px;">
      <img class="hiw_img"src="/images/hiw_s_s2.png"><br/>
            Pay the difference, if any
      </div>
      <div class="hiw_step hiw_3 s3" style="margin-left:40px; margin-top:60px;">
      <img class="hiw_img"src="/images/hiw_s_s3.png"><br/>
            Ship your product and upon arrival we'll send your newly swapped product
      </div>
    
    <dt class="headings_pink" style="font-size:25px; text-decoration:underline;">How do I sell my products?</dt>
    <dd>

        <div class="hiw_step hiw_1 s1" style="position:relative;">
        <img class="hiw_img"src="/images/hiw_sell_1.png"><br/>
            Choose the product(s) you want to sell

       </div>
       <div class="hiw_step hiw_2 s2" style="position:relative; right:30px;">
       <img class="hiw_img"src="/images/hiw_sell_2.png"><br/>
           Checkout and print prepaid shipping label
       </div>
       <div class="hiw_step hiw_3 s3" style="position:relative; right:50px; top:30px;">
       <img class="hiw_img"src="/images/hiw_sell_3.png"><br/>
          Package device and attach label to box 
       </div>
       <div class="hiw_step hiw_3 s4" style="position:relative; right:20px; top:30px;">
       <img class="hiw_img"src="/images/hiw_sell_4.png"><br/>
           Get paid upon arrival
       </div>
    </dd>

    <dt class="headings_pink" style="font-size:25px; text-decoration:underline;">How do I buy my products?</dt>
    <dd>

  <div class="hiw_step hiw_1 s1" style="margin-left:50px;">
    <img class="hiw_img"src="/images/hiw_buy_1.png"><br/>
            Choose the product(s) you want to buy

  </div>
  <div class="hiw_step hiw_2 s2" style="margin-left:40px;">
    <img class="hiw_img"src="/images/hiw_buy_2.png"><br/>
            Pay the dollar amount
  </div>
  <div class="hiw_step hiw_3 s3" style="margin-left:40px; margin-top:60px;">
    <img class="hiw_img"src="/images/hiw_buy_3.png"><br/>
    Receive your product(s) within 3-5 business days

  </div>
</dd>
  </dl>
  
</div>
