<script type="text/javascript">
	$(document).ready(function(){
	$('.container').fadeIn(1000);
});
	</script> 

<style type="text/css">
body{
	background: whitesmoke;
}
.headings_pink, .term_content, .term_content, .term_heading{
	
}
</style>

<div class="container" style="display:none;">

<div class="headings_pink">Privacy Policy</div>

<div class="term_content">Swapidy, Inc. (“Swapidy”) takes your privacy seriously. We pledge to follow the provisions contained in this Privacy Policy (“Policy”) in order to protect your privacy rights.<br/>

This Policy outlines our general policy and practices for protecting your information. It includes the types of information that Swapidy gathers, how it is used, and the choices you have regarding Swapidy’s use of your information. This Policy applies to all personal and non-personal information received by Swapidy whether in electronic, written, or verbal format.<br/>

Swapidy reserves the right to modify this Policy at any time and will do so periodically. Each modification shall be effective upon posting to Swapidy.com. Your continued use of the website following any such modification constitutes your acceptance of any changes to this Policy. It is therefore important that you review this Policy regularly. If you have any questions concerning this Policy please contact us at support@swapidy.com <br/>
</div>

<div class="term_heading">1. Scope</div>
<div class="term_content">
This Policy covers the entire website. It does not apply to entities that Swapidy does not own or control, such as third-party sites or links on the website. These entities are governed by their own privacy policies and not Swapidy’s Privacy Policy. Please check the privacy policy of any entity you interact with on or off the website.</div>

<div class="term_heading">2. Protecting Your Privacy</div>
<div class="term_content">
First and foremost, Swapidy will not share your information with third parties for advertising or marketing purposes. Swapidy.com is meant to be an ad-free experience, as we want our users to be engaged in trading, not buying.<br/>

Swapidy.com does not use “cookies”. We also do not use any other tracking devices or tools, such as widgets, single-image pixels, or “web beacons”. We do not gather information about you other than what we ask you directly, which is described below.
 </div>
<div class="term_heading">3. Information You Provide to Swapidy</div>
<div class="term_content">
3.1 User Accounts<br/>
As part of the process to become a user, Swapidy only requires that you provide your name, date of birth, and email address. Other information can be provided but is voluntary, such as your address and telephone number. Certain information can be imported from existing databases or websites, such as Facebook. Account information can be viewed and changed at anytime via our website. We will not manually modify your personal information. <br/>

3.2 Passwords<br/>
Account information is password protected. Maintaining a solid password is key to your account. Use a unique combination of letters and numbers to protect your account information. Do not disclose your password to others, as you are responsible for all actions taken in the name of your account. If your account has been compromised, immediately notify us at support@swapidy.com<br/>

3.3 Postings<br/>
While using the Swapidy.com, you may provide, including, but not limited to, links, location information, text and images to Swapidy by selling/buying through our website. Postings will contain your username and a picture or icon of your face. This information will be available to anyone accessing the website, members and non-members alike. Please keep this in mind when posting on Swapidy.com.
</div>

<div class="term_heading">4. How Swapidy Uses Your Personal Information</div>
<div class="term_content">
4.1 Location Information<br/>
Swapidy may share information about your physical location to other users and the public. However, the site will only share your city and state - not your exact location. Swapidy is not responsible for any person’s actions that result from the sharing of location information. Furthermore, Swapidy is not liable for any damages to any persons or property which may result from sharing location information. You should use caution and common sense to prevent misuse of location information.<br/>

4.2 Age<br/>
Swapidy uses the information you provide to ensure you are over the age of eighteen (18). Our website is not meant to be used by anyone under the age of eighteen (18). If you think someone under the age of eighteen (18), has submitted a posting, contact Swapidy as soon as possible to have the information removed. Any user accounts belonging to persons under the age of eighteen (18) will be terminated.<br/>

4.3 Personalized Advertisements and Offers<br/>
Swapidy keeps track of some of the actions you make on the Site, including, but not limited, viewing member profiles and participating in offers and promotions. Swapidy may retain the details of transactions (“swaps”) you make on the Site. We may also keep track of links you click on and emails you receive from Swapidy. This is done to increase the relevancy of the offers and promotions you see, enabling us to serve you personalized offers or promotions. <br/>

4.4 Information Used for Customer Support<br/>
Swapidy will use the information it collects to provide services to you. Swapidy will also use information about you to measure and improve the website, and to provide you with customer support. We may contact you with service-related announcements from time to time. You may opt-out of all communications except essential updates.<br/> 

4.5 Other Use of Information<br/>
Certain software applications and applets transmit data to Swapidy. Swapidy may not make a formal disclosure if it believes the collection of and use of the information is the obvious purpose of the Site. If it is not obvious that Swapidy is collecting or using such information, Swapidy will disclose its collection to you the first time you provide the information.
</div>
<div class="term_heading">5. Sharing of User Information</div>
<div class="term_content">
Swapidy will generally not share user information with any third parties. However, Swapidy may share your information with third parties when it believes the sharing is permitted by you, reasonably necessary to offer Swapidy’s services, or when legally required to do so. Swapidy will not share your information with third parties in a way that violates your privacy. The following are examples of the ways Swapidy may share your information. This list, however, is informative and is by no means exhaustive.
<ul>
<li>Swapidy provides some public information to search engines. This information allows search engines to locate the Site and the items listed for “swaps” by users. This does not mean all information you post on the Site may be accessed using a search engine.</li>
<li>Swapidy may also share information when Swapidy has a good faith belief it is necessary to prevent fraud or other illegal activity, to prevent imminent bodily harm, or to protect Swapidy and you from people violating the term of Service of the Site. This may include sharing information with other companies, lawyers, and courts or other government entities.</li>
<li>Swapidy may disclose information pursuant to subpoenas, court orders, or other requests (including criminal and civil matters) if Swapidy has a good faith belief that the response is required by law. This may include requests from jurisdictions outside of the United States if Swapidy has a good faith belief that the response is required by law under the local laws in that jurisdiction, is applicable to users from that jurisdiction, and is consistent with generally accepted international standards.</li>
<li>Swapidy may disclose analyzed data in the form of purchasing trends or 
statistical data. No personally identifiable information will be attached to this disclosure.</li>
</ul></div>
<div class="term_heading">6. Other</div>
<div class="term_content">
Swapidy shall take reasonable steps to protect personal information from loss, misuse, unauthorized access, disclosure, alteration, or destruction. Swapidy has in place appropriate physical, electronic, and managerial procedures to safeguard and secure personal information. Transactions are secured from trusted sites, such as PayPal. Swapidy cannot otherwise guarantee the security of information on or transmitted via the Internet. <br/>

Swapidy shall only process personal information in a way that is compatible with and relevant to the purpose for which it was collected or has been authorized. To the extent necessary for those purposes, Swapidy shall take reasonable steps to ensure that personal information is accurate, complete, current, and reliable for its intended use. <br/>

Unless stated otherwise, this Policy applies to all information that Swapidy has about you and your account. By using our website, you consent to having your personal data transferred to and processed in the United States.
</div>

</div>
