<style type="text/css">

body{
	width: 100%;
	background: black;
}
.content{
margin-left: 0px;
}
.left_menu{
	display: none;
}
.promotion_image{
width: 500px;
}
.promotion_text{
	width: 250px;
	margin-right: 50px;
}
#ss-form{
	position: relative;
	right: 50px;
	margin-top: 50px;
	margin-left: 200px;
}
.promotion_message{
	font-family: 'Helvetica Neue';
	font-size: 16px;
	color: #cccccc;
	text-transform:uppercase;
	font-weight: 500;
	text-align: center;
}
.ss-q-title{
	color:#cccccc;
	font-size: 16px;
}
#email_box{
	background-color: #cccccc;}
.help{
	display: none;
}
.ss-q-short{
	height: 30px;
}
#submit_email{
position: relative;
bottom: 50px;
margin-left: 230px;
}

.swapidy_promotion{
	margin-left: 70px;
}
</style>
<div class="content">
<div class="container">

<img src="/images/galaxy_promotion.png" class="promotion_text">
<img src="/images/s4_promo.jpg" class="promotion_image">
</div>
	<div class="promotion_signup"><br/>
<div class="promotion_message">
Enter your email below and be the first in line to trade your phone for the brand new Galaxy S4. only on Swapidy.</div>

<form id="ss-form" method="POST" action="https://docs.google.com/a/swapidy.com/spreadsheet/formResponse?formkey=dDk5aDlMU1k2SGN3V21QQmE5SXB6emc6MQ&amp;embedded=true&amp;ifq">



<br>
<div class="errorbox-good">
<div class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label for="entry_0" class="ss-q-title">ENTER YOUR EMAIL ADDRESS<br/>

<label for="entry_0" class="ss-q-help"></label>
<input type="text" id="entry_0" id="email_box" class="ss-q-short" value="" name="entry.0.single"></div></div></div>



<div class="ss-item ss-navigate"><div class="ss-form-entry">
<input type="submit" id="submit_email" class="order_button_buy"value="Submit" name="submit">
</div>

<div class="swapidy_promotion">
	<a href="/">
	<img src="/images/swapidy_promotion.png"></a>
</div>