
<h3 style="text-align: center">Sorry we do not support your verstion of internet explorer at the moment. Here are the browsers we currently support:</h3>
<a href="https://www.google.com/intl/en/chrome/" class="chrome"><img src="/images/Google-Chrome-icon.png" /></a>
<a href="https://www.mozilla.org/en-US/firefox/new/" class="firefox"><img src="/images/Mozilla-Firefox-icon.png" /></a>
<a href="http://www.apple.com/safari/" class="safari"><img src="/images/Safari-icon.png" /></a>

<style>
	.chrome img{
		height 100px;
		width:100px;
		padding-right: 30px;
	}
	.firefox img{
		height 100px;
		width:100px;
		padding-right: 30px;
	}
	.safari img{
		height 100px;
		width:100px;
		padding-right: 30px;
	}
	
</style>
