<div class="browser" style="border: 1px solid red; margin: 100px auto">
<h3 style="text-align: center">Sorry we do not support your verstion of internet explorer at the moment. Here are the browsers we currently support:</h3>
<div id="browser" style="text-align: center; background: white;border: 1px solid red">
<li><a  href="https://www.google.com/intl/en/chrome/" class="chrome"><img src="/images/Google-Chrome-icon.png" /><p style="border: 1px solid blue"> Chrome</p></a></li>
<li><a href="https://www.mozilla.org/en-US/firefox/new/" class="firefox"><img src="/images/Mozilla-Firefox-icon.png" /><p>MozillaFirefox</p></a></li>
<li><a href="http://www.apple.com/safari/" class="safari"><img src="/images/Safari-icon.png" /><p>Safari</p></a></li>
</div>
</div>
<style>
	#browser a {
		color: #0044CC;
	}
	#browser li {
		display: inline-block;
	}
	.chrome img{
		height 60px;
		width:60px;
		padding-right: 30px;
	}
	.firefox img{
		height 60px;	
		width:60px;
		padding-right: 30px;
	}
	.safari img{
		height 60px;
		width:60px;
		padding-right: 30px;
	}
	
</style>
