<doctype html>
<html>
<head>
<meta charset = "utf-8">
<title>About Us</title>
	<script type="text/javascript">
	$(document).ready(function(){
	$('#all').fadeIn(2000);
});
	</script> 
</head>
<body>
<div id="all" style="display:none;">
<div id="team_container" class="container">
	<h1 class="headings_pink">Our Team</h1>

	<h2 class="team_subheading" >Adam Ahmad - CEO & Co-Founder</h2>
	<p class="team_content"><strong>Handles the business side of things: operations, finances, relations.</strong></p> 
	<img src="/images/adam.png"><br/>
	<p class="team_content ">18-year-old, former uPenn student. Started his first business  at  the  age 11 making open source PSP software. Also created open source software for the iPhone, which had revenues in the six figures. eBay Powerseller that has sold 50,000+ products online and Thiel Fellowship finalist. Founded NoteDex Inc, a tablet PC Hardware Company and Swapidy Inc. Loves go kart racing and fast cars.</p><br/>

	<h2 class="team_subheading">Pulkit Jaiswal - CTO & Co-Founder</h1>
	<p class="team_content"><strong>Handles the technology aspect of the site.</strong></p>
	<img src="/images/pulkit.jpeg"><br/>

	<p class="team_content">Pulkit is a 19-year old serial entrepreneur, innovator and futurist. He is a former Stanford student and has previously worked on projects on autonomous unmanned aerial vehicles, medical diagnostic devices, e-commerce and education reform. When he was 18, he invented an algorithm to associate viral DNA with electronic signatures in order to diagnose diseases real time. His focus is on solving real world, non- trivial problems. He also kicks ass in racketball.</p><br/>

	<h2 class="team_subheading" id="peanut">Peanut - Stress Buster</h2>
	<img id="peanut_pic" src="/images/peanut.jpeg" height="150px" width="200px"><br/>
	<p class="team_content">10 week old energy monster that helps manage stress throughout the day. He worked at an animal shelter and managed to direct his peers to stay happy and healthy before he was recruited by Swapidy.</p> 
</div>
</div>
</body>
</html>
