<doctype html>
<html>
<head>
	<meta charset = "utf-8">
<title>Our Team</title>
	<link rel = "stylesheet" href="style.css">
</head>
<body>
	<h1>Our Team</h1>
	
	<h2>Adam Ahmad - CEO & Co-Founder</h2>
	<img src="adam.png">
	<p>Handles the business side of things: operations, finances, relations.</p> 

	<p>18-year-old, former uPenn student. Started his first business  at  the  age 11 making open source PSP software. Also created open source software for the iPhone, which had revenues in the six figures. eBay Powerseller that has sold 50,000+ products online and Thiel Fellowship finalist. Founded NoteDex Inc, a tablet PC Hardware Company and Swapidy Inc. Loves go kart racing and fast cars.</p>

	<h1>Pulkit Jaiswal - CTO & Co-Founder</h1>
	<img src="pulkit.jpeg">
	<h2>Handles the technology aspect of the site.</h2>

	<p>Pulkit is a 19-year old serial entrepreneur, innovator and futurist. He recently dropped out of Stanford to work on Swapidy. He has previously worked on projects on autonomous unmanned aerial vehicles, medical diagnostic devices, e-commerce and education reform. When he was 18, he invented an algorithm to associate viral DNA with electronic signatures in order to diagnose diseases real time. His focus is on solving real world, non- trivial problems. He also loves to snowboard.</p>

	<h2>Peanut - Director of Energy</h2>

	<p>10 week old energy monster that helps manage stress throughout the day. He worked at an animal shelter and managed to direct his peers to stay happy and healthy before he was recruited by Swapidy.</p> 

</body>
</html>