<script type="text/javascript">
	$(document).ready(function(){
	$('.container').fadeIn(1000);
});
</script> 

<style type="text/css">
body{
	background: whitesmoke;
}
.headings_pink, .term_heading, .term_content{
	
}

</style>
<div class="container" style="display:none;">
<div class="headings_pink">Terms of Service</div><br/><br/>

<div class="term_heading">INTRODUCTION</div>
<div class="term_content">
Welcome to Swapidy.com. Swapidy is an ecommerce marketplace where you can sell, swap, and buy products. Before you begin using our site, please carefully read these Terms of Service.</div>

<div class="term_heading">ACCEPTANCE OF TERMS AND CONDITIONS</div>
<div class="term_content">The terms “Swapidy”, “Swapidy.com”, “us” or “we” refer to Swapidy, Inc. (also known as Swapidy), a Delaware corporation, the owner and operator of this site. The terms “you”, “your”, “user”, “seller”, and “trader” refer to the person accessing or using the site, or the company or organization on behalf of which a person accesses the site.<br/>
The following terms and conditions (the “Agreement”) form a legally binding agreement between you and Swapidy. Please review the following information carefully. Your continued use of the site will indicate your agreement to be bound by the terms and conditions set forth below (“Terms of Service”). These terms and conditions outline your rights and obligations with respect to your use of and access to the site, including any content, information, products or services therein. These terms and conditions apply to you regardless of whether you are a registered user of the site or simply a non-registered user browsing the site. If you do not agree to our terms of service or are not able to form a binding contract in your jurisdiction, then you must cease use of this site. These Terms of Service are void where prohibited by law, and the right to access our site is revoked in those jurisdictions.</div>

<div class="term_heading">NO LEGAL RELATIONSHIP BETWEEN SELLER & SWAPIDY</div>
<div class="term_content">You and Swapidy are independent contractors, and nothing in these Terms of Service creates any kind of partnership, joint venture, agency, franchise, or employment relationship between the parties. There are no third-party beneficiaries to this Agreement. You may not assign this Agreement, in whole or in part, to any third party. Should any part of this Agreement be held invalid or unenforceable, that portion will be construed consistent with applicable law and the remaining sections will remain in full force and effect. <br/>
These Terms of Service shall be governed by the substantive law of the State of California. Any claim or dispute that arises between you, the trader, and Swapidy shall be decided exclusively by a court with proper jurisdiction located in California.</div>

<div class="term_heading">ACCESS TO SWAPIDY’S SERVICES</div>
<div class="term_content">Registration of  Seller Accounts. As a condition to being a “seller” on Swapidy.com, each user is required to register with Swapidy. This involves providing a mailing address, telephone number, email address, full name, and selecting a username and password. This information must be accurate and complete, updated as necessary. Failure to do so shall constitute a breach of these Terms of Use, which may result in termination of your account. We reserve the right to refuse any registration of a seller’s account, or terminate it at our discretion. You, as a seller, are responsible for maintaining the confidentiality and security of your password. 
Minimum Age Requirement. You, as a seller, certify to Swapidy that you are at least 18 years of age. You also certify that you are legally permitted to use our services and access our website, Swapidy.com. In addition, you take full responsibility for accessing Swapidy.com and its content and use of our services.<br/>
User Mailing Address. You, as a seller, understand and acknowledge that you are required to provide your mailing address to Swapidy as a condition to accessing our services. We reserve the right to verify your mailing address. You understand and acknowledge that your address will be used to receive “swapped” items / products from Swapidy’s warehouse in California, but will not be revealed to any other parties.</div>

<div class="term_heading">CONTENT ON SWAPIDY.COM</div>
<div class="term_content">All materials displayed or accessed on Swapidy.com, including, but not limited to text, graphics, articles, photographs, images, illustrations, logos, audio clips and video clips (collectively, “Content”) are copyright and patent pending. The Site and all Content are intended solely for use by Swapidy’s users and may only be used in accordance with these Terms of Service. You shall abide by all copyright notices, information, and restrictions contained in any Content accessed through our services.<br/>
Restrictions on Use. Swapidy.com and its Content is protected by copyright. You may not modify, publish, transmit, sell or attempt to sell, or create any works based on the Content on our site. You agree not to distribute, publically display, or in any way exploit or manipulate site Content. This prohibition includes the downloading and copying of our site Content, including, but not limited to, graphics, logos, and other audio/visual content, without Swapidy’s express written permission.<br/>
Contribution of Content. You acknowledge and agree that if you use any of Swapidy’s services to contribute to the site’s Content, such Content shall become Swapidy’s property. Such contributions shall be deemed to be Content. You assign all rights, title and interests in such contributions to Swapidy.<br/>
Right to Edit or Remove Postings and Content. Swapidy reserves the right to remove any Content from the site at any time and for any reason. Users do not have any interest in any site Content.</div>

<div class="term_heading">SELLER RESPONSIBILITIES</div>
<div class="term_content">As a trader on Swapidy.com, you are responsible for complying with the provisions in these Terms of Service. You are responsible for all of your activity on Swapidy.com, including but not limited to, correctly describing products to us, all activities in completing transactions, and shipping items to Swapidy. You, the seller, are responsible for any fraudulent, abusive, or otherwise illegal activity. You acknowledge and agree to the following:<br/>
Compliance with the Law. You, as a seller on Swapidy.com, are responsible for complying with all applicable laws, ordinances, and regulations connected with your access of our site and use of our services.<br/>
Compliance with EULAs. You, as a seller on Swapidy.com, are responsible for complying with all publisher, developer, or manufacturer End User License Agreements (“EULAs”) for each product or item you sell on our site, as applicable.<br/>
Prohibited Conduct. You, as the seller, represent, warrant, and agree that you will not sell or otherwise contribute any content on Swapidy.com that is infringing, libelous, defamatory, obscene, pornographic, abusive, discriminatory, offensive or otherwise illegal. Use of Swapidy.com in order to violate our site’s security, crack passwords or encryption mechanisms, transfer or store illegal, threatening or offensive material, or engage in any kind of illegal activity is expressly prohibited and violates these Terms of Service. Any trader account found in violation of these terms will be terminated at Swapidy’s sole discretion.</div>

<div class="term_heading">COMPLETION OF TRANSACTIONS</div>
<div class="term_content">As a seller on Swapidy, you are required to complete transactions that you have confirmed in a timely manner, in accordance with Swapidy’s rules and these terms of service.<br/>
Finality of Trades. All sales that occur on Swapidy.com are final, unless due to company error, fraud, or impossibility. Traders must file a claim by sending an email to support@swapidy.com in these rare circumstances. In such cases, Swapidy will remedy the situation on a case-by-case basis. <br/>
Shipping of Products. Sellers will ship items and/or products that they have undertaken to sell to us within the time limits specified by Swapidy, by mailing the items and/or products of the  sale to Swapidy for verification purposes. Failure to comply with the shipping time window may result in termination or restriction of a seller’s account, at the discretion of Swapidy. Each seller will take all reasonable precautions and measures to ensure that items and/or products shipped to Swapidy arrive in the described condition. Each trader will also ship their items and/or products using Swapidy’s label and recommended packaging material.<br/>
Loss of Property. While items / products are in Swapidy’s possession at our warehouse for verification, Swapidy accepts responsibility for the safety and security of your products / items. In the event of a foreseeable or unforeseeable loss due to mishandling or company error, Swapidy will reimburse, replace, or compensate a trader on a case-by-case basis. However, Swapidy is not responsible for any items / products that are damaged in the shipping process. Therefore, we strongly recommend all traders follow USPS shipping guidelines, located at: http://pe.usps.com/text/dmm100/intro.htm.<br/>
Title. Each seller represents and warrants that each item and/or product has good title – that is, that such trader has all authority, rights, interest, and title in the items/products subject to each sale. All traded items/products sold to Swapidy, shall become the lawful property of the recipient trader upon physical receipt of the item/product, in accordance with California’s Commercial Code any other state adaptations of UCC 2-401(2) as may be applicable.
Swapidy Makes no Representations as to Title. Seller acknowledges that Swapidy does have legal ownership of any of the items/products. Swapidy does not make any representations whatsoever concerning the safety or legality of any items/products sold. Swapidy makes no representations of good title for any items/products listed or “swapped”. For information regarding Swapidy’s assurances pertaining to the quality of an item/product and the accuracy of a listing, please see the section titled, “X”. Complaints about any sale should be made to Swapidy through the appropriate links on the Swapidy.com website.<br/></div>
<div class="term_heading">SWAPIDY BALANCE</div>
<div class="term_content">Any remaining balance in your account is a medium of value. The balance cannot be redeemed for cash. The balance is solely meant to be used within Swapidy’s platform to buy products from us. The balance in your account does not expire or ever change in value. </div>

<div class="term_heading">PROHIBITED CONDUCT</div>
<div class="term_content">You, as the seller, agree not to commit fraud while using Swapidy’s site or services. Examples of fraud include, but are not limited to:
<ul >
<li>Knowingly selling inaccurate or misleading product,</li>
<li>committing to send a product as a result of a “swap” but not actually sending it,</li>
<li>shipping a product after unreasonable delay, </li>
<li>shipping a product that is known to be counterfeited or pirated,</li>
<li>shipping a product that is known to be damaged or defective,</li>
<li>claiming a product was never received when in fact it was, damaged, or otherwise flawed when it is not, </li>
<li>claiming to own a product that you, as a trader, do not have rights to,</li> 
<li>creating multiple trader accounts for your own use, and;</li>
<li>any other deceitful or fraudulent activity.
</ul>
We expect all sellers on our site to act with integrity and honesty while accessing Swapidy’s service. Any violations of fair dealings will result in account closure and any actions as permitted by law.<br/>
When Sending Shipments. In the event your shipment gets lost, broken, incorrect, scratched, counterfeited, pirated, or otherwise defective product, Swapidy may in its sole and absolute discretion, on a case-by-case basis, take any of the following actions if it is determined that the trader’s conduct was intentional and fraudulent: warning, suspension of account, termination of account, or legal action. Additionally, Swapidy reserves the right to pursue any remedies permitted by law. If a product was damaged and rendered defective through the shipping process, Swapidy will return the item back to its owner and cancel the “swap”. <br/>
When Receiving Shipments. In the event a user excessively claims having received a lost, broken, incorrect, or otherwise defective product, Swapidy may, in its sole discretion, determine on a case-by-case basis, that a trader is no longer eligible to use Swapidy’s services. Swapidy may elect not to apply any credit or reimburse such parties. In addition to suspending or terminating your account, Swapidy may pursue any remedies available at law.
User ID Fraud. No user may select or use as a username a name of another person with the intent to impersonate that person. Only one trader account per person is allowed; Swapidy reserves the right to terminate any trader accounts found to be in violation of this rule.</div>

<div class="term_heading">THIRD PARTY LINKS</div>
<div class="term_content">Swapidy.com and related emails may contain links or references to third party websites, such as when traders describe their product by linking the product page, or a site with reviews on the product offered for trade. You, as the trader, acknowledge that Swapidy is not responsible for the content of any of these external links, as Swapidy has not reviewed such websites, has no control over them, and is not liable in any way for any content that appears on these third party websites.</div>

<div class="term_heading">FEES, PAYMENT, AND CREDIT CARD PROCESSING</div>
<div class="term_content">Use of trading services on Swapidy.com require no transaction fees except for charging for the remaining balance in a transaction. You, as the buyer, agree to pay all applicable fees and associated shipping costs, if any as described on Swapidy.com. As the buyer, you authorize Swapidy to automatically charge your credit card account for any and all fees and costs incurred using Swapidy.com, without the need to provide further notice to you. Swapidy reserves the right to change the values associated with each category of product listings and to institute new charges at any time. However, proper notice will be given to all users on Swapidy.com.<br/>
All payments shall be processed via Stripe’s secure payment system.</div>

<div class="term_heading">OUR PRIVACY POLICY</div>
<div class="term_content">At Swapidy, we take user privacy seriously. We do not provide, sell, or rent out your personal information to third parties whatsoever. We store and protect user information on computers located in the United States and Canada. Please view our Privacy Policy for more information at: https://www.swapidy.com/privacy.</div>

<div class="term_heading">LIMITED WARRANTY</div>
<div class="term_content">SWAPIDY, THROUGH ITS VERIFICATION GUARANTEE, WARRANTS ONLY THAT PRODUCTS OR ITEMS LISTED BY SELLERS ARE “AS DESCRIBED”. “AS DESCRIBED” PERTAINS ONLY TO ASPECTS OF AN ITEM OR PRODUCT, LIMITED TO: PRODUCT NAME, MANUFACTURER/BRAND NAME, MODEL, PRODUCT CONTENTS, AND PRODUCT CONDITION.
SWAPIDY DOES NOT WARRANT ANY OTHER DESCRIPTIONS OF A PRODUCT AND MAKES NO SUBJECTIVE REPRESENTATIONS TO THAT EFFECT.
DISCLAIMER OF WARRANTIES
TO THE FULLEST EXTENT PERMITTED BY LAW, THERE ARE NO OTHER WARRANTIES PROVIDED BY SWAPIDY, INC. ALL OTHER SITE CONTENT AND SERVICES ON SWAPIDY.COM ARE PROVIDED ON AN “AS IS” BASIS. THERE ARE NO ADDITIONAL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. SWAPIDY DOES NOT WARRANTY THE FUNCTIONALITY OF ANY ITEM OR PRODUCT FOR ANY DURATION OF TIME.</div>

<div class="term_heading">LIMITATION OF LIABILITY</div>
<div class="term_content">SWAPIDY AND ITS AFFILIATES, VENDORS, LICENSORS, DEALERS, AND ANY THIRD PARTIES MENTIONED ON THE SITE ARE NEITHER RESPONSIBLE NOR LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, PUNITIVE, OR ANY OTHER DAMAGES WHATSOEVER (INCLUDING, BUT NOT LIMITED TO, THOSE RESULTING FROM LOST PROFITS, LOST DATA, OR BUSINESS INTERRUPTION) ARISING OUT OF OR RELATING IN ANY WAY TO THE SITE, ITS CONTENT, OR SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THIS SITE OR RELATED SERVICES IS TO STOP USING THIS SITE OR RELATED SERVICES. OUR LIABILITY IS LIMITED TO THE FULLEST EXTENT PERMITEED BY LAW.</div>

<div class="term_heading">RELEASE AND INDEMNITY</div>
<div class="term_content">By using our services on Swapidy.com, you, the trader, release Swapidy, its officers, directors, employees, agents, and any other related parties from claims, demands, and damages arising out of or in any way connected to our site, its services, and any transaction conducted on Swapidy.com.
You, the trader, agree to defend, indemnify, and hold harmless Swapidy, its officers, directors, employees, and agents from any and all claims, in accordance with the Limitation of Liability above.
SWAPIDY’S RIGHT TO TERMINATE TRADER ACCOUNTS
Swapidy reserves the right to terminate service at any time, with or without notice to you, the trader, at its own discretion. You may appeal Swapidy’s decision by contacting support@swapidy.com.</div>

<div class="term_heading">MISCELLANEOUS</div>
<div class="term_content">Thank you for using Swapidy.com. <br/>
Last updated on: March 29th, 2013.<br/></div>
</div>



