<doctype html>
<html>
<head>
<meta charset = "utf-8">
<title>Testimonials</title>
</head>
<body>
 
	<div id="testimonials" style="position:relative; bottom:150px;">
	<div class="headings_pink">User Reviews</div><br/>
        <img class="testimonial_img" src="/images/testimonials/1.jpg">
        <span class="testimonial_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et dolor ut arcu sagittis porta id id est. Integer elementum, ante sed fringilla aliquam.
        </span><br/>
        <span class="testimonial_more"><a href="/testimonials">Read more testimonials</a></span>
          <img class="testimonial_img" src="/images/testimonials/1.jpg">
        <span class="testimonial_text">In semper vulputate sem, ac auctor neque blandit eu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi vulputate ligula vitae nulla cursus venenatis. 
        </span><br/>
        <span class="testimonial_more"><a href="/testimonials">Read more testimonials</a></span>
          <img class="testimonial_img" src="/images/testimonials/1.jpg">
        <span class="testimonial_text">Aliquam eget dui ac augue cursus varius. Maecenas ut massa quis lorem egestas molestie. 
        </span><br/>
        <span class="testimonial_more"><a href="/testimonials">Read more testimonials</a></span>
          <img class="testimonial_img" src="/images/testimonials/1.jpg">
        <span class="testimonial_text">Nulla non augue sit amet lectus egestas suscipit nec ut nulla. Etiam consectetur nunc quis risus congue nec lobortis libero mollis. Quisque auctor posuere pulvinar.
        </span><br/>
        <span class="testimonial_more"><a href="/testimonials">Read more testimonials</a></span>
          <img class="testimonial_img" src="/images/testimonials/1.jpg">
        <span class="testimonial_text">Nulla quis luctus justo. Vivamus sed justo ut nisl mollis elementum quis vel magna. Nullam a nibh est. Phasellus varius ipsum et elit mattis eget commodo diam auctor. Nulla quis arcu ac nulla ultricies iaculis non vitae augue. 
        </span><br/>
        <span class="testimonial_more"><a href="/testimonials">Read more testimonials</a></span>
          <img class="testimonial_img" src="/images/testimonials/1.jpg">
        <span class="testimonial_text">Cras nisl tellus, eleifend eu egestas imperdiet, egestas vel massa. Donec interdum pharetra erat non scelerisque.
        </span><br/>
        <span class="testimonial_more"><a href="/testimonials">Read more testimonials</a></span>
      </div> 
--> </body>
</html>