
<div class="content">
  <div class="container">
    <div class="side-bar">
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" style="position: relative; margin-top: 40px; ">
          <li class="tab active">
            <a href="#all_trans" data-toggle="tab"><img src="/images/all_transactions_icon.png"><span class='nav_text'>All transactions</span></a>
          </li>
        </ul>
      </div>
    </div> 
    <div class="core-side">
      <div class="core-side-content">
        <div class="headings_pink">Transactions</div>
        <br />
        <div class="tab-content">
          <div class="tab-pane active" id="all_trans">
            <br/>
            <%= render :partial => "/shared/order_timeline" %>
          </div>
        </div>
      </div>
      <%= render :partial => "/layouts/footer.html" %>
    </div>
  </div>
</div>
