<doctype html>
<html>
<head>
<style type="text/css">
html {
        background: url(/images/coming_soon_la.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: 1;
}
</style>
	<meta charset = "utf-8">
<title>My First Website</title>
	<link rel = "stylesheet" href="style.css">
</head>
<body>

<h2 class="headings_pink">We're coming soon to LA. Want to us to be there early? Vote now for Los Angeles!</h2>
</body>
</html>

