<label class="confirm_info_head">
  <div class="headings_pink">Contact Email</div>
  <a href="javascript:showPopup('popup-dialog_email_form');" class="order_button_buy change" style="position:relative; bottom:30px; left:150px;">Change</a>
</label>
<br />
All emails about your order will be sent here:
<p><%= user.email %></p>