
  <div class="headings_pink" style="font-size:20px;">Contact Email</div>
  <a href="javascript:showPopup('popup-dialog_email_form');" class="order_button_buy change" >Change</a>
<div style="width:210px; position:relative; bottom:20px;">  
All emails about your order will be sent here:
<p><%= user.email %></p>
</div>