<% if cart_products_empty? %>
<div>Empty Shopping Cart</div>  
<% else %>
 <div style="position: relative">
	  <button class="prev product_button_buy" style="width: 30px;position: absolute;top:120px;left: -125px;">&lt;</button>
	  <button class="next product_button_buy" style="width: 30px;position: absolute;top: 120px;left: 25px;z-index: 1000">&gt;</button>
  <div class="order_sell_display" style="float:left; width: 45%;overflow: hidden;left: 45px !important;top: 90px">
  	<ul id="mycarousel"  class="jcarousel-skin">
		  <% cart_products[:sell].each do |order_product|%>
	    	<li style="height:160px;width: 120px"> <img style=" max-width: 100px; max-height: 100px;" src="<%= Product.find(order_product.product_id).main_image_url(:thumb) %>" /> 
	    	<br/>
	    	<span> <%= order_product.title %></span> <br />
	    	</li>
   		<% end %>
    </ul>
  </div>
	  <button class="prev_buy product_button_buy" style="width: 30px;top: 120px;right: 160px;position: absolute;z-index: 1000">&lt;</button>
	  <button class="next_buy product_button_buy"style="width: 30px;top: 120px;right: 10px;position: absolute">&gt;</button>
  <div class="order_buy_display" style="float:right; width: 45%; text-align: right; overflow:hidden;left: -40px !important;top: 90px" >
  	<ul id="mycarousel"  class="jcarousel-skin">
    	<% cart_products[:buy].each do |order_product| %>
    		<li style="height: 160px;width: 120px;z-index: 1000;"> <img style=" max-width:100px; max-height: 100px;" src="<%= Product.find(order_product.product_id).main_image_url(:thumb) %>" />
    		<br />
	    	<span> <%= order_product.title %></span> <br />
    		</li>
    	<% end %>
    </ul>
  </div>
 </div>
<% end %>
<style>
	.jcarousel-skin li{ text-align: center;display:table-cell; }
	#mycarousel li img { 
    	vertical-align: middle;
	}
</style>
