<% if cart_products_empty? %>
<div>Empty Swapping Cart</div>  
<% else %>

 <div class="order_slider_sell">
	  <button class="prev product_button_buy" style="width: 30px;position: absolute;top:10px;left: -130px;">&lt;</button>
	  <button class="next product_button_buy" style="width: 30px;position: absolute;top: 10px;left: 20px;z-index: 1000">&gt;</button>
  <div class="order_sell_display" style="width: 100%;margin: auto">
  	<ul id="mycarousel"  class="jcarousel-skin">
		  <% cart_products[:sell].each do |order_product|%>
	    	<li style="height:160px;width: 120px"> <img style=" max-width: 100px; max-height: 100px;" src="<%= Product.find(order_product.product_id).main_image_url(:thumb) %>" /> 
	    	<br/>
	    	<span> <%= order_product.title %></span> <br />
	    	</li>
   		<% end %>
    </ul>
  </div>
  </div>
  <div class="order_slider_buy">
	  <button class="prev_buy product_button_buy" style="width: 30px;top: 10px;right: 150px;position: absolute;z-index: 1000">&lt;</button>
	  <button class="next_buy product_button_buy"style="width: 30px;top: 10px;right: 20px;position: absolute">&gt;</button>
  	<div class="order_buy_display" style="width: 100%; text-align: right;margin:auto;" >
  	<ul id="mycarousel"  class="jcarousel-skin">
    	<% cart_products[:buy].each do |order_product| %>
    		<li style="height: 160px;width: 120px;z-index: 1000;"> <img style=" max-width:100px; max-height: 100px;" src="<%= Product.find(order_product.product_id).main_image_url(:thumb) %>" />
    		<br />
	    	<span> <%= order_product.title %></span> <br />
    		</li>
    	<% end %>
    </ul>
  	</div>
  </div>

<% end %>
<style>
	.jcarousel-skin li{ text-align: center;display:table-cell; }
	#mycarousel li img { 
    	vertical-align: middle;
	}
	.order_slider_sell{
		position: relative;
		height: 150px;
		margin: 80px 0 0 0;
		width: 200px;
		float: left;
		display:inline-block
	}
	.order_slider_buy{
		position: relative;
		height: 150px;
		margin: 80px 0 0 0;
		width: 200px;
		float: right;
		display:inline-block
	}
</style>
