<style type="text/css">
body{
  background: whitesmoke;
}
.content{
  height: 700px;
  background: white;
}
</style>
<div class="content" style="">

<%= render :partial => "steps", :locals => {:current_step => 2 } %>
<div class="container" style="position: relative; height:700px;">
  <div class="headings_pink" style="text-align:center;">Payment Information</div>
  <div class="confirm_image_container" style="position: absolute;top: 100px;width: 480px;left: 215px;-webkit-border-radius: 20px;padding: 10px;">
  	<%= render :partial => "/orders/order_product_images" %>
  </div>
  <div class="payment_container" style="">
    <div id="checkout_content" class="payment_editing_block">
      <div class="payment_group_contents">
        <div id="payment_form" class="valid_form payout_form standard_form paypal" style="display: block;">
          <%= render :partial => "/orders/payment_info_form"%>
        </div>
      </div>
    </div>
  </div>
</div>
<script language="JavaScript">
  function reload_payment_order_info() {
    $.ajax({
      type : 'POST',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url : '/orders/reload_payment_order_info',
      dataType : 'script',
      success: function(data) {}
    });
  }
  
  $(function() {
  	order_sliders();
  });

	function order_sliders(){
	$('.order_sell_display').jCarouselLite({
      btnNext: ".next",
      btnPrev: ".prev",
      visible: 1,
      circular: false,
      speed: 500
    });
    $('.order_buy_display').jCarouselLite({
      btnNext: ".next_buy	",
      btnPrev: ".prev_buy",
      visible: 1,
      circular: false,
      speed: 500
    });
	}
</script>
<style>

	.payment_container{
		position: absolute;
		left: 215px;
		z-index: 2000;
	}
</style>
