<style type="text/css">
body{
  background: whitesmoke;
}
</style>
<div class="content" style="position: absolute; width:100%; min-height:550px; height: 700px; background-repeat:no-repeat; background-position: 0px 0px; top: 60px; left: 0px; background-image:url(/images/checkout/bg-2.jpg); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">

<%= render :partial => "steps", :locals => {:current_step => 2 } %>
<div class="container" style="position: relative; z-index: 500">
  <div class="headings_pink payment_info_heading">Payment Information</div>
  <div class="confirm_image_container" style="position: absolute;top: 80px;width: 480px;left: 215px;-webkit-border-radius: 20px;padding: 10px;">
  	<%= render :partial => "/orders/order_product_images" %>
  </div>
  <div class="payment_container">
    <div id="checkout_content" class="payment_editing_block">
      <div class="payment_group_contents">
        <div id="payment_form" class="valid_form payout_form standard_form paypal" style="display: block;">
          <%= render :partial => "/orders/payment_info_form"%>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function reload_payment_order_info() {
    $.ajax({
      type : 'POST',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url : '/orders/reload_payment_order_info',
      dataType : 'script',
      success: function(data) {}
    });
  }
</script>
<style>

	.payment_container{
		position: absolute;
		left: 215px;
		z-index: 2000;
	}
</style>
