<style type="text/css">
body{
	background: whitesmoke;
}
</style><script type="text/javascript">
$(document).ready(function(){
	$('.container').fadeIn(1000);
});
</script>
<div class="content " style="position: absolute; width:100%; min-height:550px; height: 700px; background-repeat:no-repeat; background-position: 0px 0px; top: 60px; left: 0px; background-image:url(/images/white_bg.png); -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">

 <div class="container"> 
 	<div class="headings_pink thank_head" >Congratulations, your transaction was successful!</div> 
<div class="thank_container">

	<div class="thanks_heading">Thank You! Your order has been successfully placed!</div>
	<img class="thanks_img_order" src="/images/show_order.png">
	<p><label class="thanks_subheading">What Happens Next?</label>
	</p>
	<p class="thanks_list">Check your email. We will be shipping your order soon! Please make sure you have dispatched all items from your previous trade-ins to avoid delay.</p>
	  <a href="/" class="thanks_button_buy" style="padding:10px; right: 0px; ">Continue to Marketplace</a>
	</p>
</div>
</div>