<style type="text/css">

body{
	background: whitesmoke;
}
.content{
	background: white;
}

</style>
<script type="text/javascript">
	$(document).ready(function() {
		$(".step1").fadeIn(1000);
		$(".step2").delay(1000).fadeIn(1000);
		$(".step3").delay(2000).fadeIn(1000);
		$('.thanks_button_buy').delay(3000).fadeIn(1000);
	}); 
</script>

<div class="content" style=" height:700px;">
	<div class="container">
		<div class="headings_pink" >
			Congratulations, your <%= session[:shop_type] %> transaction was successful!
		</div>
		<div class="thank_container" style="border: 1px solid">
			<p>
				<label class="thanks_subheading headings_pink" >What Happens Next?</label>
			</p>
			<div id="thanks_container">
				<div class="thanks_steps step1" style="display:none;">
					<img src="/images/thanks_step1.png">
					<p class="thanks_steps_text">
						Check your email for the shipping label
					</p>
				</div>

				<div class="thanks_steps step2" style="display:none;">
					<img src="/images/thanks_step2.png">
					<p class="thanks_steps_text">
						Ship your product out immediately
					</p>
				</div>

				<div class="thanks_steps step3" style="display:none;">
					<img src="/images/thanks_step3.png">
					<p class="thanks_steps_text">
						Your order will be shipped as soon as we receive your items
					</p>
				</div>
			</div>
			<p>
				<a href="/" class="thanks_button_buy" style="width: 180px; height: 50px; padding:10px; display:none;margin-left: 70%">Again, again, again!</a>
			</p>
		</div>
	</div>
</div>
