
<h2>Thank You</h2>

<p><label> Happens Next?</label></p>
<p>1) Check your email for the shipping label</p>
<p>2) Ship your product out within 24-48 hours</p>
<p>3) Start buying stuff!</p>

<p>
  <a href="/" class="btn">Use your Honey</a>
</p>


