<style type="text/css">

body{
	background: whitesmoke;
}
.content{
	background: white;
}

</style>
<script type="text/javascript">
	$(document).ready(function() {
		$(".step1").fadeIn(1000);
		$(".step2").delay(1000).fadeIn(1000);
		$(".step3").delay(2000).fadeIn(1000);
		$('.thanks_button_buy').delay(3000).fadeIn(1000);
	}); 
</script>

<div class="content" style=" height:700px;">	
	<% if session[:shop_type] == "sell"%>
		<div class="container">		
			<div class="headings_pink" >
				Congratulations, your <%= session[:shop_type] %> transaction was successful!
			</div>		
			<div class="thank_container" style="border: 1px solid">

				<div id="thanks_container">
					<div class="thanks_steps step1" style="display:none;">
						<img src="/images/c_sell_1.png">
						<p class="thanks_steps_text">
							Check your email for the prepaid shipping label
						</p>
					</div>

					<div class="thanks_steps step2" style="display:none;">
						<img src="/images/c_sell_2.png">
						<p class="thanks_steps_text">
							Ship your product(s) out immediately
						</p>
					</div>

					<div class="thanks_steps step3" style="display:none;">
						<img src="/images/c_sell_3.png">
						<p class="thanks_steps_text">
							Your payment will be sent as soon as we receive your product(s)
						</p>
					</div>
				</div>
				<p>
					<a href="/" class="thanks_button_buy" style="width: 180px; height: 50px; padding:10px; display:none;margin-left: 70%">Continue to Marketplace</a>
				</p>
			</div>
		</div>
	<% elsif session[:shop_type] == "buy"%>
		
 <div class="container"> 
 	<div class="headings_pink thank_head" >Congratulations, your transaction was successful!</div> 
<div class="thank_container">

	<div class="thanks_heading">Thank You! Your order has been successfully placed!</div><br/>
	<img class="thanks_img_order" src="/images/show_order.png">
	<p><label class="thanks_subheading">What Happens Next?</label>
	</p>
	<p class="thanks_list" style="text-align:center">Please check your email for confirmation. We will be shipping your order soon!<br/> You will get tracking number as soon as your order is shipped.</p>
	  <a href="/" class="thanks_button_buy" style="padding:10px; right: 0px; ">Continue to Marketplace</a>
	</p>
</div>
</div>
	<% elsif session[:shop_type] == "swap"%>
		<div class="container">		
			<div class="headings_pink" >
				Congratulations, your <%= session[:shop_type] %> transaction was successful!
			</div>		
			<div class="thank_container" style="border: 1px solid">
				<p>
					<label class="thanks_subheading headings_pink" >What Happens Next?</label>
				</p>
				<div id="thanks_container">
					<div class="thanks_steps step1" style="display:none;">
						<img src="/images/thanks_step1.png">
						<p class="thanks_steps_text">
							Check your email to print out the prepaid shipping label
						</p>
					</div>

					<div class="thanks_steps step2" style="display:none;">
						<img src="/images/thanks_step2.png">
						<p class="thanks_steps_text">
Package your items(s) and paste the prepaid label on the box						</p>
					</div>

					<div class="thanks_steps step3" style="display:none;">
						<img src="/images/thanks_step3.png">
						<p class="thanks_steps_text">
							Drop off your package in your mailbox, USPS drop off center, or post office
						</p>
					</div>
				</div>
				<p>
					<a href="/" class="thanks_button_buy" style="width: 180px; height: 50px; padding:10px; display:none;margin-left: 70%">Continue to Marketplace</a>
				</p>
			</div>
		</div>
	<% end %>
	
</div>
