<style type="text/css">
body{
	background: whitesmoke;
}
</style><script type="text/javascript">
$(document).ready(function(){
	$('.container').fadeIn(1000);
});
</script>

<div class="container" style="background: white;width:100%;margin: 25px auto; padding: 40px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); border-radius: 5px; padding-bottom:80px; ">
	<div class="thanks_heading">Thank You! Your order has been successfully placed!</div>
	<img class="thanks_img_order" src="/images/show_order.png">
	<p><label class="thanks_subheading">What Happens Next?</label>
	</p>
	<p class="thanks_list">Check your email. We will be shipping your order soon! Please make sure you have dispatched all items from your previous trade-ins to avoid delay.</p>
	  <a href="/" class="thanks_button_buy" style="padding:10px;">Continue to Marketplace</a>
	</p>
</div>
