<doctype html>
<html>
<head>
	<meta charset = "utf-8">
<title>Login</title>
	<link rel = "stylesheet" href="login.css">
</head>
<body>
	<div id="main" style="width: 1905px; height: 678px;">
	<img id="bg" src="login_background.jpg" style="width: 1905px; height: 1562px; display: inline;">

	<div id="login_container">
	<img id="login_circle" src="login_circle_new.png" style="top: 338.5px; display: block;">
	<img id="login_or" src="login_or.png">
	<img id="fb_login" src="fb_login.png">
	</div>


</body>
</html>