<%= form_for(@payment, :as => 'payment', :url => "/payments/confirm") do |f| %>
  <br/>
  <div class="headings_pink_edit">How much honey would you like to purchase?</div>
<div> 
  <div class="dollar_conversion">
    <span class="icon_dollar">$&nbsp;</span><%= f.text_field :amount,  :autocomplete => "off", :class =>'dollar_textbox', :placeholder => 'Enter dollar amount' %><span class="payment_equal">=</span>
  </div>

  <div class="honey_conversion"><img class="icon_honey_conversion" src="/images/honey_30px.png">&nbsp;
    <%= f.text_field :honey_money,  :autocomplete => "off", :class =>'honey_textbox', :placeholder => 'Enter honey amount' %>
  </div>
</div>

    <a href="javascript:showPopup('popup-dialog_add_honey_1');" class="show_button_buy" style="color:white; font-family:'myriad'; position:relative; top:10px; font-size:25px; margin-left:230px; padding:10px;">
  Continue</a>
  <br />
<%end%>
 <script>
  $("#payment_amount").live("keyup", function(){ recalculate(); });
  $("#payment_amount").live("blur", function(){ recalculate(); });
  
  function recalculate() {
    var amount = parseInt(accounting.toFixed($("#payment_amount").attr("value")));
    if(amount > 0) {
      var honey_money = amount * 10;
      new_honey_html = accounting.formatNumber(parseInt(honey_money));
      $("#calculate_honey_amount").html(new_honey_html);
      $("#payment_amount").attr('value', accounting.formatNumber(amount));
    }else{
      $("#calculate_amount").text("0.0");
    }
  }
</script>