<div class="headings_pink">Add Honey Complete</div>
<br/>
<div>
  <label>Honey money buyed:</label>
  <strong><%= format_num(@payment.honey_money) %> Honey</strong>
</div>
<div>
  <label>Charged amount:</label>
  <strong>$<%= format_num(@payment.amount, 2) %></strong>
</div>
<br/>
<div>
    <span>Your current balance is:</span>
    <span style="font-weight: bold;"><%= format_num(current_user.honey_balance) %> Honey</span><br />
</div>
<br/>
<div>
  <a href="#" onclick="refresh_add_honey_form();" class="show_button_buy" style="color:white; font-family:'myriad'; position:relative; top:10px; font-size:25px; padding:10px;">Add More Honey</a>
  <a href="#" class="show_button_buy submit_button" onclick="hidePopup();" style="color:white; font-family:'myriad'; position:relative; top:10px; left:10px; font-size:25px; padding:10px;">Use your Honey</a>
</div> 
