  <h2>Payment Complete</h2>
  <div>
    <label>Honey money buyed:</label>
    <strong><%= format_num(@payment.honey_money) %> Honey</strong>
  </div>
  <div>
    <label>Charged amount:</label>
    <strong>$<%= format_num(@payment.amount, 2) %></strong>
  </div>
  <br/>
  <div>
      <span>Your current balance is:</span>
      <span style="font-weight: bold;"><%= format_num(current_user.honey_balance) %> Honey</span><br />
  </div>
  <h3>Charge to your Credit card</h3>
  <%= render :partial => "/shared/card_info", :locals => {:card => @payment }%>
  <br/>
  <div>
    <a href="/" class="btn">Use your Honey</a>
  </div> 
