<h2 class="headings_pink_edit">Confirm success</h2>
<br />
<p>
Congraduate! You have success to get Free Honey. <br/>
Your account has been create, please check your email to get Password, then click <a href="javascript:showPopup('popup-dialog_for_signin');" style="color:#1D95CB">LOGIN</a>.</p>
