<h2>Invalid token.</h2>
<br />
<p>
  Sorry, this invite has already been used.<br/>
  Please <a href="/contact_us" style="color:#1D95CB">Contact Us</a> if you believe this is an error
  or <a href="javascript:showPopup('popup-dialog_for_signup');" style="color:#1D95CB">Sign Up</a> for a new account. 
</p>
