/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face {
  font-family: "myriad";
  src: url('/myriad.otf') format("truetype");
}
@font-face {
  font-family: "myriad-b";
  src: url('/myriad-b.otf') format("truetype");
}
@font-face {
  font-family: "myriad-s";
  src: url('/myriad-s.otf') format("truetype");
}
body{
  padding-top: 0px;
}
.navbar .brand {
  display: inline-block;
  height: 50px;
  padding: 0;
}

.nav{
  position: absolute;
  top:10px;
  font-weight: bold;
  font-size: 15px;
}
#nav_signup:hover{
}
#nav_login:hover{
}
#banner_logo{
  height:200px;
  width:400px;
  position: relative;
  right: 80px;
}

.btn{
}
#my_trade_ins{
  display: none;
  left: 1px;  /* change this to left: 1px; to put it on the left of the screen */
  top: 200px;
  height: 70px;
  width: 70px;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 5000;
}
#my_trade_ins a{
  display: block;
  width: 100%;
  height: 100%;
}

#my_orders{
  display: none;
  left: 1px;  /* change this to left: 1px; to put it on the left of the screen */
  top: 320px;
  height: 70px;
  width: 70px;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 5000;
}
#my_orders a{
  display: block;
  width: 100%;
  height: 100%;
}
#fbtab{
  right:1px;  /* change this to left: 1px; to put it on the left of the screen */
  top:275px;height:50px;width:50px;margin:0;padding:0;position:fixed;z-index:5000;
}

#fbtab a {
  display:block;width:100%;height:100%;
}
#twtab{
  right:1px;  /* change this to left: 1px; to put it on the left of the screen */
  top:348px;height:50px;width:50px;margin:0;padding:0;position:fixed;z-index:5000;
}

#twtab a { 
  display:block;width:100%;height:100%;
}

#s3slider {
  width: 100%; /* important to be same as image width */
  height: 500px; /* important to be same as image height */
  overflow: hidden; /* important */
  text-align: center;
  position: relative; 
  z-index: 0; 
  top: 71px;
  margin-top: -18px;
  margin-bottom: 53px;
  min-height:500px;
}
 
#s3sliderContent {
  width: 100%;
  height: 10px;
  position: relative;
  top: 0;
  margin-left: 0;
  height: 100%;
  min-height: 500px;
  background: black;
}
 
.s3sliderImage {
  position: absolute;
  z-index: 80;
  height: 100%;
  width: 100%;
  overflow: hidden;  
}

.s3sliderImage img {
position: relative;
max-width:none; 
}
 
.s3sliderImage span {
    display: none;
  
    
}
 
/*content for sign up page*/
#bg{
  left: 0;
  position: absolute;
  top: 0;
  max-height: 100%;
  max-width: 100%;
  z-index:-1;
}

#login_container,
#signup_container {
  top: 50%;
  left: 50%;
  position: fixed; 
  width: 515px;
  margin-top: -240px;
  margin-left: -253px;
  z-index: 0;
}

#signup_circle{
}

#fb_signup{
  position: absolute;
  top:170px;
  height:60px;
  width:306px;
  left:80px;
  z-index:1;
}

#signup_motto{
  position: absolute;
  height: 200px;
  bottom: 0px;
  left:0px;
}
.clear {
  clear: both;
}

.content .container {
  padding-top: 71px;  
}

.signup_field{
  height: 20px;
  color: red;
}

#signup_form{
  position: absolute;
  top: 120px;
  left: 70px;
}

.footer {
  width:100%;
  padding: 30px 0 60px 0;
  margin-top: 100px;
  border-top: 1px solid #E5E5E5;
  background-color: whitesmoke;
  text-align: center;
}

.footer li{
  display: inline;
  margin-right: 20px;
}
.container a,
.container a:hover {
  color: white;
}

.footer .container a,
.footer .container a:hover {
  color: #1D95CB;
}

h2{
  color: #fa3e6e;
}

.s_category{
  color:#fa3e6e;
}
.cat_choose{
  color: #fa3e6e;
}
.button_for_sell a{
  color: white;
}
.button_for_sell a:hover{
  color: white;
}
.button_for_buy a{
  color: white;
}
.button_for_buy a:hover{
  color: white;
}
.item {
  margin-bottom: 30px;
}

.login_or {
  position: absolute;
  top: 248px;
  left: 224px;
  font-family: "myriad";
}
.login_or span {
  color:#666666;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

#fb_login{
  position: absolute;
  top: 170px;
  height: 60px;
  width: 306px;
  left: 80px;
  z-index: 1;
}

#login_form{
  position: absolute;
  top: 290px;
  left: 40px;
}
#login_form .add-on {
  height: 23.5px;
  font-size:14px;
  font-family: "myriad-s";
  width: 150px;
  padding-top: 10px;
}
#login_form #prependedInput{
  height: 30px;
  width: 200px;
  font-family: "myriad";
}
#login_extras{
  position: absolute;
  top: 240px;
  left: 220px;
  z-index: 1;
  font-family: "Lato",Calibri,Arial,sans-serif;
  font-weight: bold;
  color: #33B8E5;
}
.login_label{
  font-weight: bold;
}

.profile_info_nav {
  display: inline-block;
  padding: 10px 15px 10px;
}
.profile_info_nav a,
.profile_info_nav span {
  float: none;
  padding: 0;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}
.profile_info_nav a:focus,
.profile_info_nav a:hover {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}

.profile_info_nav a.plushoney_icon {
  color: red;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.loader {
  text-align: center;
  vertical-align: middle;
  display:block;
}

#popup-dialog.standard-popup {
  width: auto;
  margin-left: 0;
  left: 50%;
}

#popup-box-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/assets/black-transparent.png) repeat;
  z-index: 99998;
  opacity: 0.6;
}

.popup-box-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -467px;
  padding: 25px;
  width: 885px;
  z-index: 99999;
}

.product_price{
  font-weight: normal;
  font-size: 20px;
}


.headings_pink{
  font-family: "myriad-s";
  color: #fa3e6e;
}
.headings_pink_edit{
  font-family: "myriad-s";
  color: #fa3e6e;
  font-size: 30px;
  margin-bottom: 30px;
}
.honey_display{
  position: fixed;
  padding: 5px;
  right:0px;
  top:70px;
  background: #fa3e6e;
  font-weight: bold;
  font-size: 20px;
  color: white;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
}
.honey_display img{
  height:30px;
  position: relative;
  bottom:3px;
}
.show_honey_symbol{
  position: relative;
  bottom:3px;
}

.login_button{
  position: absolute;
  top: 120px;
  font-size: 18px;
  line-height: 23px;
  min-width: 50px;
  padding: 6px 20px 7px;
  text-align: center;
  background: #fa3e6e;
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-family: "myriad";
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  width: 60px;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  box-shadow: 
      inset 0 1px 0 rgba(255,255,255,0.5), 
      0 2px 2px rgba(0,0,0,0.3), 
      0 0 4px 1px rgba(0,0,0,0.2); 

  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);  

}
.login_button:hover{
  background-color:#F9006E;
}
.login_forgot{
  position: absolute;
  top: 420px;
  left: 190px;
}
a.login_forgot{
  color: #1c8bc5;
  font-family: "myriad";
  font-size: 15px;

}
a.login_forgot:hover {
  color: #1c8bc5;
  text-decoration: underline;
}
.login-footer {
  font-family: "myriad";
  position: absolute;
  top: 490px;
  left: 140px;
  color: #6f6d65;
  font-size: 16px;
}
.signup-footer {
  font-family: "myriad";
  position: absolute;
  top: 210px;
  left: 100px;
  color: #6f6d65;
  font-size: 16px;
}
.signup-link a{
  color: #1c8bc5;
}
.signup-link a:hover{
  color: #1c8bc5;
  text-decoration: underline;
}
.free_honey_info{
  color: #666;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  position: relative;
  width: 400px;
  right:20px;
  bottom: 80px;
}
.email_invite{
  position: relative;
  bottom:60px;
}
.email_invite input[type="text"]{
  height: 40px;
  width:300px;
}
.email_invite_button{

  font-size: 18px;
  line-height: 23px;
  min-width: 50px;
  padding: 6px 20px 7px;
  text-align: center;
  background: #fa3e6e;
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-family: "myriad";
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  width: 60px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  box-shadow: 
      inset 0 1px 0 rgba(255,255,255,0.5), 
      0 2px 2px rgba(0,0,0,0.3), 
      0 0 4px 1px rgba(0,0,0,0.2); 

  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);  

}
.email_invite_button:hover{
  background-color:#F9006E;
}

#location_search{
    font-family: "myriad";
    padding-right: 17px;
    height: 30px;
    color: #666;
    font-size: 15px;
    background: #E8E8E8;
    background-position: -48px 0;
    background-repeat:no-repeat;
    background-image: url("/assets/glyphicons-halflings.png");
    background-size:14px 14px;
    cursor: pointer;
}
#location_search:hover{
  background: #CCCCCC;
}
.navbar_icon_location{
  height:25px;
  position: relative;
  right:30px;
}
.product_desc{
  font-size: 20px;
  line-height: 1.5;
}


.email_info_fb{
  margin-top: 100px;
}
.fb-connect{
  height:70px;
  margin-left: 300px;
}
.email_info_or{
  font-size: 20px;
  color:#666;
  width: 30px;
  position: relative;
  top:40px;
  left:480px;
  padding: 10px;
  padding-left: 20px;
  background: #ffffff;

}
.popup-box-wrapper .close-popup {
  float: right;
  margin-top: -45px;
  margin-right: -40px;
  display: block;
  width: 30px;
  height: 30px;
  background: url(/assets/close-popup.png) no-repeat;
  text-indent: -9999px;
  font-size: 0px;
}
.field_with_errors {
  display: inline;
}
.sub_footer{
  color: #ffffff;
  font-size: 13px;
}
.sub_footer a{
  color:white;
  text-decoration: underline;
}
.sub_footer a:hover{
  color:white;
  text-decoration: none;
}
#input-prepend{
  font-size: 15px;
}
.signup_button{
  position: relative;
  bottom:125px;
}
.edit_cc_info  a{
  color:#38B4DE;
}
.edit_cc_info  a:hover{
  text-decoration: underline;
    color:#38B4DE;

}
