// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#iphone{
	height:350px;
	width:350px;
}

#imac{
	height:350px;
	width:550px;
}

a:visited 
{text-decoration:none;}


#main_catalog{
	text-align:center;
}

.thumbnail{
	text-align:center;
}

.icon{
	padding-left:5px;
}

td{
	font-weight:bold;
}


button{
	width:300px;
	margin-left:30px;
}


.cat_item{
	height:200px;
	margin-top:30px;
	padding:30px;
}
#c_macbook{
	width:300px;
	padding-right:0px;

}
#product_type, #search_container, #product_lineup{
	
}
#c_ipod{
	width:200px;
}
#c_iphone{
	width:200px;
}

#search_container{
	float:left;
	width:400px;
}
#product_lineup{
	float:left;
}
#container .item{
	width:100px;
	height:200px;
}


.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}