// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#logo{
	
}

#ipod {
	
}
#iphone{
	height:250px;
}
#ipad{
	
	height:235px;
	width:200px;
}
.thumbnail{
	text-align:center;
}