// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.headings_pink{
	color:#fa3e6e;
}
label{
	color:#666;
	font-size:25px;
}

table{
	color:#666;
}

table th{
	font-size: 20px;
	color:#38B4DE;
}
table tr{
		font-size:15px;

}