#progress_indicator ul {
  height: 30px;
  line-height: 50px;
  z-index: 1;
  position: relative;
  padding: 10px 0px;
  margin: 0;
  top: -1px;
  margin-bottom:30px;
}

#progress_indicator li {
  background: #7C7C7C no-repeat 100% 50%;
  color: white;
  float: left;
  height: 50px;
  line-height: 24px;
  width: 140px;
  text-align: center;
  margin-right: 5px;
  font-size: 30px;
  background: #101010;
  border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  zoom: 1;
  filter: alpha(opacity=7);
  opacity: 0.2;
  padding-top:20px;
}

#progress_indicator li.current {
  background: #38B4DE no-repeat 100% 50%;
  color: white;
  font-weight: bold;
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
.show_container{
  font-family:"myriad", "myriad-s";
}
.product_name{
text-align:center; 
font-family:"myriad-s"; 
color:#fa3e6e;
font-size:30px;
}

#product_container{
  margin-left:100px;
  margin-top:50px;
  width:500px;
}

.show_button_buy,
.show_button_sell {
  text-align: center;
  color: white;
  font-size: 30px;
  text-decoration: none;
  font-family: "myriad";
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  box-shadow: 
      inset 0 1px 0 rgba(255,255,255,0.5), 
      0 2px 2px rgba(0,0,0,0.3), 
      0 0 4px 1px rgba(0,0,0,0.2); 
  text-shadow: 0 1px rgba(255,255,255,0.7); 
  height: 50px;
  position:relative;
  bottom:250px;
}
.show_button_sell {
  background: #0099FF;
}
.show_button_sell:hover{
  background: #00CCFF;
}
.show_button_buy {
  background: #fa3e6e;
<<<<<<< HEAD
  color: white;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  padding: 8px 15px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  width: 100px;
  height: 50px;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  box-shadow: 
      inset 0 1px 0 rgba(255,255,255,0.5), 
      0 2px 2px rgba(0,0,0,0.3), 
      0 0 4px 1px rgba(0,0,0,0.2); 

  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);  
  position:relative;
  bottom:100px;
=======
>>>>>>> 4f60a7f798e07c227a043a2edf9a0a7517cfd7b9
}
.show_button_buy:hover {
  background-color: #F9006E;
}
.show_button_sell a {
  color: white;
}
.show_button_sell a:hover {
  color: white;
}
.show_button_buy a {
  color: white;
}
.show_button_buy a:hover {
  color:white;
}
.product_model {
  color: #38B4DE;
}
#product_text{
  position:relative;
  top:100px;
}
.product_price{
    color: #38B4DE;
}
.product_title{
    height: 45px;
    overflow: hidden;
}

.product_desc{
  color:#737373;
}
.using_condition{
    color: #38B4DE;
    font-size:20px;
}

.product_show_image{
  height:250px;
  float:left;
}
.buy_button{
  margin-left:380px;
}
.buy_cancel{
 font-size:20px; 
}
.show_definitions{
line-height:1.5;
position:relative;
left:600px;
bottom:270px;
width:200px;

padding:20px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background:whitesmoke;
}
.show_definitions dt{
  font-size:20px;
  color:#fa3e6e;
  margin-bottom:10px;
}
.show_definitions dd{
color:#666666;
font-size:15px;
  margin-bottom:20px;
}