#progress_indicator ul {
  height: 30px;
  line-height: 50px;
  z-index: 1;
  position: relative;
  padding: 10px 0px;
  margin: 0;
  top: -1px;
  margin-bottom:30px;
}

#progress_indicator li {
  background: #7C7C7C no-repeat 100% 50%;
  color: white;
  float: left;
  height: 50px;
  line-height: 24px;
  width: 140px;
  text-align: center;
  margin-right: 5px;
  font-size: 30px;
  background: #38B4DE;
  border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  zoom: 1;
  filter: alpha(opacity=7);
  opacity: 0.07;
  padding-top:20px;
}

#progress_indicator li.current {
  background: #38B4DE no-repeat 100% 50%;
  color: white;
  font-weight: bold;
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
#product_container{
  float:left;
}
.products_text{
  float:left;
}
.show_product_image{
  float:left;
  margin-left:300px;
  margin-top:30px;

}
.show_sellbuy{
  padding-top:270px;
}