<div class="container">
<div class="product_name">
  <%= @product.title %>
</div>
<div id="product_container">
  		<img class="product_show_image" src="<%= @product.main_image_url(:original) %>">
	<div id="product_text">
		<div class="using_condition">
  		Condition: <span class="product_desc"><%= @product.using_condition_types %></span>
		</div>
		<br/>
		<div class="product_price">
  		Price: <span class="product_desc"><%= format_num(@product.honey_price)%> </span><span class="show_honey_symbol"><img src="/images/honey_20px.png"></span>
		</div>	
	</div>
</div>
</div>