<%= render :partial => "/products/detail_info"%>

<div>
  <% if (params["for"] && params["for"] == "sell") %>
        <div class="show_button_sell"><%= link_to "Sell", "/orders/sell/#{@product.id}", :method => :post %></div>
  <% else %>
		<div class="show_button_buy"><%= link_to "Buy", "/orders/buy/#{@product.id}", :method => :post %> </div> 
		<% end %>
</div>
