<%= render :partial => "/products/detail_info"%>

<div>
  <% if (params["for"] && params["for"] == "sell") %>
    <%= button_to "Sell now", "/orders/sell/#{@product.id}", :method => :post %>
  <% else %>
    <%= button_to "Buy now", "/orders/buy/#{@product.id}", :method => :post %>
  <% end %>
</div>
