<%= render :partial => "/products/detail_info"%>

  <% if (params["for"] && params["for"] == "sell") %>
      	<div class="show_button_sell"><%= link_to "Sell", "/orders/sell/#{@product.id}", :method => :post %></div>

  <% else %>
    <%= link_to "Buy now", "/orders/buy/#{@product.id}", :method => :post %>
  <% end %>
