<img src="/swapidy_logo_black.png">
<h2>Shipping Label</h2>
<i>(Next page)</i>
<table width="100%", height="100%">
  <tr>
    <td height="100px" style="border-right: none; text-align: left;">
      <img src="/images/swapidy_logo.png" style="height:100px">
    </td>
    <td style="border-left: none; text-align: right;">
      @order.user.email
    </td>
  </tr>
  <tr height="500px;"></tr>
</table>
<div style="page-break-before: always;"><img src="<%= @shipping_stamp.url %>" style="width:400px; height:auto;" ></div>

