<img src="/swapidy_logo_black.png">
<h2>Shipping Label</h2>
<i>(Next page)</i>
<div style="page-break-before: always;"><img src="<%= @shipping_stamp.url %>" style="width:400px; height:auto;" ></div>

