<div class="footer">
  <div class="container">
    <% if params[:controller] == "home" && params[:action] == "index"%>
      <div id="footer_header">
        <%= render :partial => "/layouts/testimonials"%>
      </div>
	  <% end %>
    <div id="footer_info">
      <ul>
      <li><a href="/about">About Us</a></li>
      <li><a href="/team">Our Team</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/terms">Terms of Service</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/contact_us">Contact Us</a></li>
  
      <li><a href="javascript:refresh_how_it_works();">How it Works</a></li>
      <li><a href="/faq_general">FAQ</a></li>
  
      <li><a href="https://facebook.com/swapidy" target="_blank"><img id="footer_fb" src="/images/footer_fb.png" style="height:45px"></a></li>
      <li><a href="https://twitter.com/swapidy" target="_blank"><img id="footer_twitter" src="/images/footer_twitter.png" style="height:40px"></a></li>
      </ul>
      <span style="color:#666">Made with <img src="/images/love.png" style="height:15px"> in Silicon Valley.</span><br/>
        <span style="color:#666">© Swapidy, Inc.</span>
    </div>
  </div>


</div>