<div class="footer">
  <div class="container">
    <div id="footer_header">  
      <div id="testimonials">
        <span class="testimonial_title">TESTIMONIALS</span><br/><br/>
                <div id="mcts1">
            <div class="each">
                <img src="/images/testimonials/1.jpg" />
                <div class="content">
                    <p><strong>Unrestricted Content</strong></p>
                    <p>The Thumbnail Slider (or jQuery Slider if using the jQuery version) allows you to easily animate any series of elements, by sequentially scrolling them.</p>
                    <p>The content can be anything: HTML, text, images, ...</p>
                </div>
            </div>
            <div class="each">
                <img src="/images/testimonials/2.jpg" />
                <div class="content">
                    <p><strong>Accommodate Non-image Content</strong></p>
                    <p>The Thumbnail Slider allows you to organize, highlight and showcase your most important content in a sleek and stylish manner while
                        at the same time allowing your audience to browse the content all within the same page.</p>
                </div>
            </div>
            <div class="each">
                <img src="/images/testimonials/3.jpg" />
                <div class="content">
                    <p><strong>Easy to Customize</strong></p>
                    <p>The options in the script allows you to easily cutomize the slider to your web design. No muss, no fuss.</p>
                    <ul>
                        <li>direction</li>
                        <li>scroll interval</li>
                        <li>scroll duration</li>
                        <li>hover pause</li>
                        <li>auto advance</li>
                        <li>scroll by each thumb</li>
                        <li>circular</li>
                        <li>large image slider</li>
                        <li>inSync with large image slider</li>
                    </ul>
                </div>
            </div>
            <div class="each">
                <img src="/images/testimonials/4.jpg" />
                <div class="content">
                    <p><strong>Browser Compatibility</strong></p>
                    <p>The Content Slider is compatible with all major browsers and mobile platforms like iphone / ipad.</p>
                    <p><strong>Carousel with Good Device Support</strong></p>
                    <p>The Carousel is compatible with mobile platforms like iphone / ipad.</p>
                </div>
            </div>
        </div>  
        <img class="testimonial_img" src="/images/testimonials/1.jpg">
        <span class="testimonial_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et dolor ut arcu sagittis porta id id est. Integer elementum, ante sed fringilla aliquam.
        </span><br/>
        <span class="testimonial_more"><a href="/testimonials">Read more testimonials</a></span>
      </div>  
      <div id="media">
        <span class="media_title">AS SEEN ON</span><br/><br/>
        <img class="media_img media_pando" src="/images/media/1.png">
         <img class="media_img media_hn" src="/images/media/4.jpg">
        <img class="media_img media_patch" src="/images/media/2.png">
        <img class="media_img media_technori" src="/images/media/3.png">
       
      </div>
    </div>

    <div id="footer_info">
      <ul>
      <li><a href="/about">About Us</a></li>
      <li><a href="/team">Our Team</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/terms">Terms of Service</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/contact_us">Contact Us</a></li>
  
      <li><a href="javascript:refresh_how_it_works();">How it Works</a></li>
      <li><a href="/faq_general">FAQ</a></li>
  
      <li><a href="https://facebook.com/swapidy" target="_blank"><img id="footer_fb" src="/images/footer_fb.png" style="height:45px"></a></li>
      <li><a href="https://twitter.com/swapidy" target="_blank"><img id="footer_twitter" src="/images/footer_twitter.png" style="height:40px"></a></li>
      </ul>
      <span style="color:#666">Made with <img src="/images/love.png" style="height:15px"> in Silicon Valley.</span><br/>
        <span style="color:#666">© Swapidy, Inc.</span>
    </div>
  </div>
</div>