<div class="footer">
  <div class="container">
  <div class="footer">
  <div id="footer_info">
    <ul>
    <li><a href="/about">About Us</a></li>
    <li><a href="/team">Our Team</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms & Service</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="/jobs">Jobs</a></li>
    <li><a href="/how_it_works">How it Works</a></li>
    <li><a href="/faq_general">FAQ</a></li>

    <li><a href="http://facebook.com/swapidy" target="_blank"><img id="footer_fb" src="/images/footer_fb.png" style="height:45px"></a></li>
    <li><a href="http://twitter.com/swapidy" target="_blank"><img id="footer_twitter" src="/images/footer_twitter.png" style="height:40px"></a></li>
    </ul>
  </div>
  </div>
</div>