<div class="footer">
  <div class="container">
  <div class="footer">
  <div id="footer_info">
    <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Shipping Information</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms & Service</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">Jobs</a></li>
    <li><a href="http://facebook.com/swapidy" target="_blank"><img id="footer_fb" src="/images/footer_fb.png" style="height:45px"></a></li>
    <li><a href="http://twitter.com/swapidy" target="_blank"><img id="footer_twitter" src="/images/footer_twitter.png" style="height:40px"></a></li>
    </ul>
  </div>
  </div>
</div>