<div class="footer">
  <div class="container">

    <% if params[:controller] == "home" && params[:action] == "index"%>
      <div id="footer_header">
        <%= render :partial => "/layouts/testimonials"%>
      </div>
	  <% end %>
    <div id="footer_info">
      <ul>
      <li><a href="/about">About Us</a></li>
      <li><a href="/team">Our Team</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/terms">Terms of Service</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/contact_us">Contact Us</a></li>
  
      <li><a href="/howitworks">How it Works</a></li>
      <li><a href="/faq_general">FAQ</a></li>
  
      <li><a href="https://facebook.com/swapidy" target="_blank"><img id="footer_fb" src="/images/footer_fb.png" style="height:45px"></a></li>
      <li><a href="https://twitter.com/swapidy" target="_blank"><img id="footer_twitter" src="/images/footer_twitter.png" style="height:40px"></a></li>
      </ul>
      <span style="color:#666">Made with <img src="/images/love.png" style="height:15px"> in Silicon Valley.</span><br/>
        <span style="color:#666">© Swapidy, Inc.</span>
    </div>
  </div>
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('9667-363-10-2959');/*]]>*/</script><noscript><a href="https://www.olark.com/site/9667-363-10-2959/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->

</div>