 <div id="footer">
      <div id="footer_info" class="span3">
      <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Shipping Information</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms & Service</a></li>
      </ul>
    </div>
    <div id="footer_twitter" class="span3">
      <a href="#">Support</a>
    </div>
    <div id="footer_media" class="span3">
      <ul>
      <li><a href="https://vimeo.com/43125773">Naughty Grandma</a></li>
      <li><a href="https://vimeo.com/43395135">Naked Cowboy</a></li>
      <li><a href="https://swapidy.com/#">Gorill Wedding</a></li>
      <li><a href="https://swapidy.com/#">Man's Best Friend</a></li>
      </ul>
    </div>
</div>  