<ul class="left_menu">
  <li style="position:relative; right:30px;"><a href="/"><img src="/images/footer_back.png" height="15px;" style="margin-right:10px">Go back</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a href="/team">Our Team</a></li>
  <li><a href="/jobs">Jobs</a></li>
  <li><a href="/terms">Terms of Service</a></li>
  <li><a href="/privacy">Privacy Policy</a></li>
  <li><a href="/contact_us">Contact Us</a></li>

  <li><a href="/howitworks">How it Works</a></li>
  <li><a href="/faq_general">FAQ</a></li>
</ul>
