<li class="divider-vertical"></li>
<li class="dropdown">
  <div class="profile_info_nav">
    <% if current_user.provider_image && !current_user.provider_image.blank? %>
      <img class="nav_icons nav_profile" src="<%= current_user.provider_image.gsub('http://', 'https://') %>">
    <% else %>
      <img class="nav_icons nav_profile" src="/images/profile_icon.png">
    <% end %>
    
    <%= link_to(current_user.full_name.upcase, transactions_path, :method => :get) %>:$<%= format_num(current_user.balance_amount)%>

  </div>
</li>
<li class="divider-vertical"></li>
