<li class="divider-vertical"></li>
<li class="dropdown">
  <div class="profile_info_nav">
      <img class="nav_icons nav_profile" src="/images/profile_icon.png">
      <%= link_to(current_user.full_name.upcase, transactions_path, :method => :get) %>
  </div>
</li>
<li class="divider-vertical"></li>
