- if ShoppingCart.cart_products_empty?
	#product_items{:style => "height: 100px; min-width:180px;"}
		%div{:style => "width: 100%; text-align: center; padding-top: 20px;"}
			%span.headings_pink{:style=>"font-size:16px;"} Empty Swapping Cart
			%a{:href=>"#", :onclick=>"$('#shopping_cart').fadeOut('slow'); show_checkout_bar = false;", :style=>"height: 15px; left: 50%; margin-left: -60px; position: absolute; top: 45px; width: 100px; font-size:15px; ", :class=>"btn show_button_buy", :id=> "close_shopping_cart"} Close
- else
	- if ShoppingCart.cart_products[:buy].count > 0
		%li#buy-items
			%p.item-name Buy item
			%ul.product-item.buy-item{:buy => "position: none;"}
				- ShoppingCart.cart_products[:buy].each do |order_product|
					= render :partial => "/layouts/cart_product_thumb", :locals => {:order_product => order_product}
	- if ShoppingCart.cart_products[:sell].count > 0
		%li#sell-items
			%p.item-name Sell item
			%ul.product-item.sell-item{:style => "position: none;"}
				- ShoppingCart.cart_products[:sell].each do |order_product|
					= render :partial => "/layouts/cart_product_thumb", :locals => {:order_product => order_product}
					
#checkout_container	
	%div{:style => "margin-left:120px; margin-top:10px; font-size:15px;"}
		-if (ShoppingCart.cart_amount)<0
			%span{:style => "color:green; font-size:15px;"} You get
			%span= number_to_currency(-1 * ShoppingCart.cart_amount) 
		-else
			%span You pay
			%span{:style => "color:red; font-size:15px;"}= number_to_currency(ShoppingCart.cart_amount) 		
	%a{:id=>"checkout_btn", :href=>"javascript:gotoCheckout();", :style=>"height: 15px; left: 50%; margin: 10px 0 10px 110px; width: 100px; font-size:15px;", :class=>"btn show_button_buy"} Checkout

:javascript
	var shop_type = getCookie("shop_type");
	sell_item_count = $("#sell-items").find('ul.sell-item li').length;
	buy_item_count = $("#buy-items").find('ul.buy-item li').length;
	if ( sell_item_count+buy_item_count > 0 )
		$("#product_count").html(sell_item_count+buy_item_count);
	else
		$("#product_count").html("");

	if ( sell_item_count+buy_item_count == 0 )
	$('#checkout_container').hide();


/	if(shop_type=="sell"){
/		$("#buy-items").hide();
/		$("#sell-items").show();		
/	}else if(shop_type=="buy"){
/		$("#buy-items").show();
/		$("#sell-items").hide();	
/	}else{
/		$("#sell-items").show();
/		$("#buy-items").show();
/	}
