<div class="container">
<div id="media">
		<span class="media_title">AS SEEN ON</span>
		<br/>
		<br/>
		<img class="media_img media_pando" src="/images/media/1.png">
		<img class="media_img media_hn" src="/images/media/4.jpg">
		<img class="media_img media_patch" src="/images/media/2.png">
		<img class="media_img media_technori" src="/images/media/3.png">
	</div>
</div>
</div>