<div class="container">
<div id="media">
	<span class="video_title">HOW IT WORKS</span>
	<iframe style="float:left; position:relative; right:100px; margin-right:20px; margin-top:40px;" src="http://player.vimeo.com/video/61141553" width="360" height="201" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<div class="media_imgs">
		<span class="media_title">AS SEEN ON</span>
		<br/>
		<br/>
		<img class="media_img media_pando" src="/images/media/1.png">
		<img class="media_img media_hn" src="/images/media/4.jpg"><br/>
		<img class="media_img media_patch" src="/images/media/2.png">
		<img class="media_img media_technori" src="/images/media/3.png">
	</div>
</div>
</div>