<title><%= page_title %></title>
<link rel="shortcut icon" href="/favicon.ico" />
<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', 'bootstrap.js', 'jquery.isotope.min', 'jcarousellite_1.0.1.min', 'jquery.scrollto.min', 'jquery.tinycarousel', 'base', 'page_leave' %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= csrf_meta_tags %>
