<!DOCTYPE html>
<html>
<head>
  <title>Swapidy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
  	  <div class="navbar-inner">
  		<div class="container">
   		 <a class="brand" href="#">Swapidy</a>
   		 <ul class="nav pull-right">
      	 <li><a href="#">Sign Up</a></li>
      	 <li class="divider-vertical"></li>
     	 <li><a href="#">Login</a></li>
     	 <li class="divider-vertical"></li>
      	 <li><a href="#">Help</a></li>
    	 <form class="navbar-search">
  			<input type="text" class="search-query" placeholder="Search">
		 </form>
		</ul>
 	     </div>
 	  </div>
	</div>
	
		<div class="container">
			<img src="images/swapidy_logo.png" alt="logo">
			<%= yield %>
		</div>
</body>
</html>
