<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "/layouts/title_and_link_resources" %>
  </head>
  <body>
 
    <%= render :partial => "/layouts/header" %>
    <script type="text/javascript">    
    if ($.browser.msie  && parseInt($.browser.version) <= 8) 
{
       $('body').html('<span> This site does not support IE8 or below.</span>')
}</script>

    <div class="content">
      <div class="container min_height_container">
        <%=yield %>
      </div>
    </div>
    <%= render :partial => "/layouts/footer.html" %>
  </body>
</html>
