<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "/layouts/title_and_link_resources" %>
  </head>
  <body>
    <script type="text/javascript" src="/javascripts/jquery.pageslide.min.js"></script>
    <%= render :partial => "/layouts/header" %>
    
    <div class="content">
      <div class="container min_height_containner">
        <%=yield %>
      </div>
    </div>
    <%= render :partial => "/layouts/footer.html" %>
  </body>
</html>
