<!DOCTYPE html>
<html>
<head>
  <%= render :partial => "/layouts/title_and_link_resources" %>
</head>
<body>

  <%= render :partial => "/layouts/header" %>

  <div class="content">
    <div class="container min_height_containner">
      <%=yield %>
    </div>
  </div>
  
</body>
</html>